{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Seller API 文件",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "有关Seller API操作的问题，请通过您的个人中心联系帮助。\n\n> [电商平台操作指南](https://global-help.ozon.com/zh/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "总描述",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "Environment",
        "Process",
        "List"
      ]
    },
    {
      "name": "基础方法",
      "tags": [
        "APIkey",
        "SellerInfo",
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "WarehouseAPI",
        "FBSWarehouseSetup",
        "FBS",
        "PolygonAPI",
        "FBO",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "RFBSReturnsAPI",
        "ReturnAPI",
        "CancellationAPI",
        "ChatAPI",
        "ReportAPI",
        "FinanceAPI",
        "SellerRating"
      ]
    },
    {
      "name": "测试方法",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Examples",
        "ReviewAPI",
        "Questions&Answers",
        "SellerActions",
        "PromosBeta",
        "DeliveryFBPDraft",
        "DraftDirectFBP",
        "DraftDropOffFBP",
        "DraftPickupFBP",
        "OrderDirectFBP",
        "OrderDropOffFBP",
        "OrderPickupFBP",
        "DeliveryFBP"
      ]
    },
    {
      "name": "Premium 方法",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "错误",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "推送通知",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "更新",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "引入",
      "description": "## 什么是 Ozon Seller API\n\nOzon Seller API 是用于与Ozon电商平台合作的编程接口，其使商户系统与Ozon之间的信息交换成为可能。 \n\nSeller API 方法允许您改变商品数据，例如，商品库存或价格，并获取与退换货和仓库列表等相关数据。\n\n使用API包括发送请求和接收响应。为此需要使用位于方法描述上方的  **Console**选项卡, [Postman](https://www.postman.com)\n或者设置与会计系统集成，其包括如 ERP。\n\n## Seller API 何时有用？\n\n当卖家会计系统与卖家API集成时，您可以自动更新和接收数据。这将有助于及时更新有关商品价格和商品库存，在更短的时间内处理更多的订单，\n并消除由于手动输入数据而导致的错误。\n\n例如,您需要更新100件商品库存或价格信息。您可以通过个人中心进行操作，您必须手动更改每张商品卡片上的数据。\n\n方法 [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) 将使您通过一个请求一次性更新100件商品的信息,\n而方法 [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — 其价格。\n\n## Seller API 功能：\n\n- 上传和更新商品。\n- 管理商品价格和库存。\n- 获取退货信息。\n- 管理订单。\n- 管理聊天。\n- 管理发票。\n- 获取财务和分析信息。\n- 下载Ozon属性和特征。\n\n\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "开始操作",
      "description": "<aside class=\"warning\">\n自 2025年5月16日起，Seller API 仅支持后端到后端调用，浏览器的直接请求将被禁止。\n此类请求会因 CORS 策略而返回错误。\n</aside>\n\n在开始使用 Ozon Seller API 之前:\n\n1. 在 [卖家知识库](https://global-help.ozon.com/zh/) 和 [卖家个人中心](https://seller.ozon.ru/app/signin)中学习在Ozon上的操作流程 。\n2. 确定您计划自动化的流程，并与您公司的流程进行对比。\n3. 学习Seller API文档，并制定集成方案。\n\n使用卖家API需要API密钥，详见 [授权](#tag/Auth)模块。\n\nSeller API 按照UTC工作时，注意已发请求和收到含日期、时间的回复。\n\n 使用Seller API的过程可以分为以下模块：\n- 使用属性树，\n- 上传和更新商品，\n- 管理价格，\n- 管理商品库存，\n- 管理FBS和rFBS订单，\n- 发票处理，\n- 管理财务信息，\n- 管理分析信息，\n- 管理退货，\n- 管理聊天。\n"
    },
    {
      "name": "Auth",
      "x-displayName": "授权",
      "description": "<br>\n<aside class=\"warning\"> API 密钥隐藏存储在个人中心中。 您只会在创建 API 密钥时看到它。 请将其保存在安全的地方或立即在您的系统中指明。\n\n您将无法恢复对未保存的 API 密钥的访问。 要继续使用 API，请创建一个新密钥。\n\n如果 Ozon 检测到可疑活动或系统负载过高，则可能撤销密钥。\n</aside>\n\n## 如何获得 Seller API 的权限\n\n1. 请在 [Ozon Seller](https://seller.ozon.ru/app/signup)注册。更多注册信息在 \n   [卖家知识库](https://global-help.ozon.com/zh/launch/steps/step-1/)。\n2. 接受要约。\n3. 获取API密钥。\n\n## 如何获取API 密钥\n\n<aside class=\"warning\">\n<b>请不要将API密钥告知外人</b>  \n\nAPI 请求更改您的 Ozon 商店中的数据。 如果外人可以访问密钥，他们将能够控制您的商店。\n</aside>\n\n如何获得API密钥:\n1. 在个人中心，请转入 [**设置 → 卖家 API**](https://seller.ozon.ru/app/settings/api-keys)。\n2. 点击 **生成密钥**。\n3. 请为密钥命名并选择其访问级别。\n4. 选择密钥的使用目的：\n   - 个人使用；\n   - 用于外部服务/应用——请输入为其签发密钥的服务名称。\n5. 然后点击**生成**。\n\n<aside class=\"warning\">\n密钥有效期为6个月。到期后，请在个人中心生成新的密钥。\n</aside>\n\n可通过参数 `expires_at` 方法 [/v1/roles](#operation/AccessAPI_RolesByToken) 获取密钥到期日期。\n\n您可以创建多个API密钥。例如，如果您有多个具有不同访问级别的用户。\n\n### 编辑密钥\n\n如果您想要更改密钥的允许网络，在[API密钥列表](https://seller.ozon.ru/app/settings/api-keys)中选择所需的密钥并点击 <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">。\n进行更改后，点击 **更新**。\n\n## API-密钥泄露\n\n1. 在个人中心，请转入 [**设置 → 卖家 API**](https://seller.ozon.ru/app/settings/api-keys)。\n2. 删除当前API 密钥，并创建新密钥。"
    },
    {
      "name": "Environment",
      "x-displayName": "工作环境",
      "description": "## 什么是工作环境？\n\n工作环境就是您的商店。 除信息请求外，所有发送的请求都可以在个人中心和Ozon网站上修改数据。\n\n**工作环境**: api-seller.ozon.ru\n\n创建的商品可以通过此类链接查看： https://www.ozon.ru/context/detail/id/SKU, 此处需要指出创建商品的值来替代SKU。\n## 询问格式\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\n要检查请求格式的正确性，请使用方法描述上方的 **Консоль** 或者\n[Postman](https://www.postman.com)。"
    },
    {
      "name": "Process",
      "x-displayName": "方法操作顺序",
      "description": "<br><aside class=\"warning\">如果以您的名义出现了很多相同的或错误的请求，我们可以在没有提醒的情况下限制访问Seller API。<br><br> 您在一秒之内只能从一个Client ID向所有方式发送不超过50个请求。</aside>\n\n# 上传Ozon属性和特征\n<br><aside class=\"warning\">要使商品方法正常运作，请匹配您的类别和在Ozon系统中含值的特征。\n\n如果在方法 [/v3/product/import](#operation/ProductAPI_ImportProductsV3) 中您传递的值不是来自Ozon手册，商品将不会被创建或更新。</aside>\n\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) —— 获取类别和类型的树状图，并使用所选类别的最后一级的值。\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — 获取选定类别和类型的特性。\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues)  — 请获取所选特征的值表。\n\n# 上传和更新商品\n将您的属性和特征与Ozon属性模型对比后，您就可以开始上传商品了：\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — 上传商品和服务。 该方法还允许更新已加载的商品\n   在请求中设置初始价格和商品图像。对于服务必须指定地理限制。\n\n   在一个请求中最多可发送100件商品。图片通过链接直接上传到云端储存。\n\n   在方法操作结果中，您获得 `task_id` — 上传商品的任务编号。\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — 请检查您在上传商品时候收到的 `task_id`\n   方法将返回是否加载成功或导入是否出错的信息。\n\n   如果响应包含商品正在审核的状态，请等待其结果并再次检查商品状态。通常审核需要不到一天的时间。\n\n3. [/v3/product/list](#operation/ProductAPI_GetProductList) — 在上传商品后获得创建商品列表。\n\n   方法将允许使用过滤器，按可见状态分类或通过商品ID跟踪其状态更改。\n\n   该方法返回一对值 `offer_id` 和 `product_id` — 几乎所有请求都需要其识别将执行操作的商品。 如果您通过模板上传商品，请使用此方法获取`offer_id` 和 `product_id`, 以便以后通过API处理商品。\n\n## 请上传和更新商品图片\n如果需要添加商品图片或替换现有图片，请使用：\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — 请上传和更新商品图片。图片通过链接直接上传到云储存。\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — 请检查添加商品图像的状态。 该方法将返回图像是否上传成功或上传过程中发生错误的信息。\n\n## 更新商品\n\n为更新商品信息和特征，请使用 [/v3/product/import](#operation/ProductAPI_ImportProductsV3)。\n\n如果只想更新商品功能，请使用 [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes)。该方法可为商品添加补充信息，使商品卡片更加完整。\n\n## 请获取商品信息\n\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — 请获得商品信息，如条形码、主要报价、类别ID、佣金或审核错误。 \n  通过过滤器 [/v3/product/list](#operation/ProductAPI_GetProductList) 按批次立即获取或按类别获取所有商品列表。\n- [/v4/products/info/attributes](#operation/ProductAPI_GetProductAttributesV4) — 获取商品类型描述。\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — 获取商品名称和描述。\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — 通过打折商品的SKU获取有关减价和主要商品的信息。\n\n## 请删除或者将商品存档\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — 如果加载商品时出现错误并在存档时没有SKU，请删除商品\n   成功通过审核期并获得SKU的商品无法从存档中删除。\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — 请将商品转移到存档中。在商品村当前，请更新库存。\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — 请从存档中恢复商品。\n\n只有当您设置库存时，商品才会开始销售。\n\n## 请管理服务\n\n可以通过方法为服务和数字商品上传激活码 [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode)。\n\n# 请更新商品价格和库存\n如需更新库存，请使用方法 [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2)。在该方法中额外指定必须要更改的库存ID。 \n\n为获得库存量的信息，请使用\n[v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs)。\n\n为更新商品价格而不更改商品卡片，\n请使用 [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices)。\n\n方法允许您更新商品价格：\n- 折扣前，\n- 对 Ozon Premium 的订阅者，\n- 在商品卡片上，考虑到折扣，\n- 使用活动价后的最低商品价。\n\n<aside class=\"warning\">\n如果您将不同类型的促销用于同一商品，商品价格可能会低于最低价。\n</aside>\n\n有关商品价格、佣金和折扣的信息，请使用 [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)。\n\n## 商品预留\n\n如果商品由法人订购，则可能无法立即收到付款，系统将预留商品。\n要检查库存，请使用以下方法[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) 或[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n如果在回复中 `is_legal = true`,这意味着库存中有已预留的商品。\n您可以更新库存，使新的商品数量大于可用库存和预留商品的总数量。\n系统将注销旧库存并计算新的库存。\n\n为检查预留商品，请使用方式 [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) 或 [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks)。\n\n[库存更改详情](https://global-help.ozon.com/zh/fulfillment/stock/)\n\n# 参与Ozon促销活动\n<a id=\"process-ozon-special-offers\"></a>\n为推广商品，请参加Ozon为买家举办的促销活动中。\n\n- 获取可用促销列表: [/v1/actions](#operation/Promos)。\n- 获取可参与促销的商品列表： [/v1/actions/candidates](#operation/PromosCandidates)。\n- 请将商品添加到促销中： [/v1/actions/products/activate](#operation/PromosProductsActivate)。\n- 获取参与促销的商品列表： [/v1/actions/products](#operation/PromosProducts)。\n- 从促销活动中删除商品： [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate)。\n\n买家可能会要求您为商品打折。\n要获取买家想要以折扣价购买的商品列表，请使用方法 [/v1/actions/discounts-task/list](#operation/promos_task_list)。\n处于`NEW` （新的）或者 `SEEN` （已查看的） 状态的申请您可以：\n- 批准 — 请使用方法 [/v1/actions/discounts-task/approve](#operation/promos_task_approve)，\n- 取消 — 请使用方法 [/v1/actions/discounts-task/decline](#operation/promos_task_decline)。\n\n[在卖家知识库中了解更多关于Ozon促销活动的信息](https://global-help.ozon.com/zh/promotion/promotions/promo/)\n\n# 卖家促销活动管理\n\n- 创建促销活动：\n  - [/v1/seller-actions/create/discount](#operation/SellerActionsCreateDiscount)——使用“折扣”机制；\n  - [/v1/seller-actions/create/discount-with-condition](#operation/SellerActionsCreateDiscountWithCondition)——使用“基于订单总额的折扣”机制；\n  - [/v1/seller-actions/create/installment](#operation/SellerActionsCreateInstallment)——使用“免息分期付款”机制；\n  - [/v1/seller-actions/create/multi-level-discount](#operation/SellerActionsCreateMultiLevelDiscount)——  使用“多级满额折扣”机制；\n  - [/v1/seller-actions/create/voucher](#operation/SellerActionsCreateVoucher)——使用“促销码折扣”机制。\n- 编辑活动：\n  - [/v1/seller-actions/update/discount](#operation/SellerActionsUpdateDiscount)——使用“折扣”机制；\n  - [/v1/seller-actions/update/discount-with-condition](#operation/SellerActionsUpdateDiscountWithCondition)——使用“基于订单总额的折扣”机制；\n  - [/v1/seller-actions/update/installment](#operation/SellerActionsUpdateInstallment)——使用“免息分期付款”机制；\n  - [/v1/seller-actions/update/multi-level-discount](#operation/SellerActionsUpdateMultiLevelDiscount)——使用“多级满额折扣；\n  - [/v1/seller-actions/update/voucher](#operation/SellerActionsUpdateVoucher)——使用“按促销码优惠”机制。\n- [/v1/seller-actions/list](#operation/SellerActionsList)——获取已创建活动列表。\n- [/v1/seller-actions/products/candidates](#operation/SellerActionsProductsCandidates)——获取可参与活动的商品列表。\n- [/v1/seller-actions/products/add](#operation/SellerActionsProductsAdd)——向活动中添加商品。\n- [/v1/seller-actions/products/list](#operation/SellerActionsProductsList)——获取参与活动的商品列表。\n- [/v1/seller-actions/products/delete](#operation/SellerActionsProductsDelete)——从活动中移除商品。\n- [/v1/seller-actions/voucher/get](#operation/SellerActionsVoucherGet)——获取使用“按促销码折扣”机制的活动的促销码列表。\n- [/v1/seller-actions/change-activity](#operation/SellerActionsChangeActivity)——启用或关闭活动。\n- [/v1/seller-actions/archive](#operation/SellerActionsArchive)——将活动移至归档。\n\n[在卖家知识库中了解更多关于卖家促销活动的信息](https://global-help.ozon.com/zh/promotion/promotions/seller-promotions/)\n\n# 请设置定价策略\n\n定价策略是一种工具，可根据其他在线商店和市场上类似商品的价格自动调整商品价格。\n\n要设置定价策略，请执行以下操作：\n\n1. 请获取竞争对手列表：[/v1/pricing-strategy/competitors/list](#operation/pricing_competitors)。\n\n2. 请获取定价策略列表：[/v1/pricing-strategy/list](#operation/pricing_list)。\n\n3. 请创建您的策略：[/v1/pricing-strategy/create](#operation/pricing_create)，并设置系数，以便将商品价格与其他平台进行比较，价格可向上或向下调整。\n   要获取有关策略的信息，请使用方法 [/v1/pricing-strategy/info](#operation/pricing_info)。\n\n4. 请将商品添加到策略中：[/v1/pricing-strategy/products/add](#operation/pricing_items-add)。\n\n   您可以添加：\n   - 通过[/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) 方法已设置最低价格的商品。\n     要检查价格，请使用方法 [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)。\n   - 没有关联到其他策略的商品。\n     要检查商品与策略的关联，请使用方法 [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids)。\n\n   若要获取与策略绑定的商品列表，请使用方法 [/v1/pricing-strategy/products/list](#operation/pricing_items-list), 要从策略中删除商品，请使用 —— [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete)。\n\n7. 请启用或禁用策略：[/v1/pricing-strategy/status](#operation/pricing_status)。\n\n要更改所选竞争对手列表和策略名称，请使用方法 [/v1/pricing-strategy/update](#operation/pricing_update)。\n\n要删除策略，请使用方法 [/v1/pricing-strategy/delete](#operation/pricing_delete)。\n\n#  获取库存信息\n- [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2) — 获取rFBS仓库方法列表。\n- [/v2/warehouse/list](#operation/WarehouseListV2) — 获取仓库列表。\n\n# FBS仓库操作\n\n## 创建新仓库\n\n1. [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse)——获取揽收点列表并选择一个以创建仓库。\n2. [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS)——发送创建新仓库的请求。\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取新仓库创建操作的状态。\n4. [/v2/warehouse/list](#operation/WarehouseListV2)——通过“warehouse_id”获取仓库的详细信息。\n\n## 更新仓库设置\n\n1. [/v1/warehouse/fbs/update](#operation/WarehouseAPI_UpdateWarehouseFBS)——发送仓库设置更新的请求。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库信息更新的状态。\n\n## 请更新仓库的头程物流\n\n1. [/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse)——获取揽收点列表并选择一个以更新仓库信息。\n2. [/v1/warehouse/fbs/first-mile/update](#operation/WarehouseAPI_UpdateWarehouseFBSFirstMile)——发送头程物流更新请求。\n3. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取头程物流更新的状态。\n\n## 将仓库归档\n\n1. [/v1/warehouse/archive](#operation/WarehouseAPI_ArchiveWarehouseFBS)——将仓库归档。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库归档的状态。\n\n## 从档案中删除仓库\n\n1. [/v1/warehouse/unarchive](#operation/WarehouseAPI_UnarchiveWarehouseFBS)——从档案中删除仓库。\n2. [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus)——获取仓库解除归档的状态。\n\n# 管理订单\n如果商品销售国外，请根据以下其中一种方案处理订单：\n- [rFBS Crossborder](#section/管理订单/rFBS-Crossborder-模式);\n- [rFBS Crossborder 含集合物流服务 ](#section/管理订单/rFBS-Crossborder-模式含集成物流服务);\n- [rFBS 聚合](#section/管理订单/rFBS-聚合器模式)。\n\n[关于按照rFBS方案工作时的称重商品订单的更多信息](#section/管理订单/如何操作含称重商品的订单-(rFBS))\n\n## rFBS Crossborder 模式\n1. 在开始处理发货前，获取待处理订单（发货）列表： \n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。\n   获取可供选择的国家/地区列表 [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)\n   然后指出有关原产国的信息:[/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n   如果`available_actions`参数中显示`set_cutoff`，请使用方法 [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff)\n   来确认发运日期。请确保在参数`shipment_date`指定的日期之前完成操作，该日期可通过以下方法获取：\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)、[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) 或 [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n   在`shipment_date`日期之后，将无法更新货件日期或进行货件备货操作。\n\n2. 获取更多订单信息: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出：\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单：[/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n   使用该方法后，商品状态将更改为 `awaiting_deliver`。\n\n   您可以使用该方法进行部分装配: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 将商品发送到送货服务后，将商品状态更改为 `delivering` —\n   “配送中”: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering)。\n\n6. 与此同时，如果商品有追踪号，请将其发送: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet)。\n\n7. 当快递员前往买家时，将出发状态更改为“最后一英里”: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile)。\n\n8. 当快递员已将商品交付给买家时，将状态更改为“已送达”: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered)。\n\n## rFBS Crossborder 模式含集成物流服务\n\n1. 在开始处理货件之前，获取未处理订单（货件）列表:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么请在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。 \n   获取可供选择的国家/地区列表[/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)。\n   然后指出有关原产国的信息: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n2. 获取更多订单信息:[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出:\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单： [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n\n   使用该方法后，商品状态将更改为 `awaiting_deliver`。\n\n   您可以使用该方法进行部分装配:[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 为每件订单打印标签，以便在Ozon系统中识别: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel)。\n\n将货件交付至送货服务。从“配送中”到\"已送达\"的所有状态都将由交付服务传输。\n\n### 取消货件的交付\n1. 在任何阶段使用 [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList),\n   以获得取消订单的原因。\n2. 然后传递该列表和出发号： [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting)。\n\n要取消货件中的部分商品，请使用 [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct)。\n\n如果订单被买方取消，状态将更改为 `cancelled`。\n\n## rFBS 聚合器模式\n1. 在开始处理货件之前，获取未处理订单（货件）列表:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   如果买方为法人, 那么请在 `requirements` 的模块将有关于在未指出的订单中指出订单商品原产国的信息。 \n   获取可供选择的国家/地区列表[/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2)。 然后指出有关原产国的信息: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2)。\n\n   您还可以收到订单（发货）列表: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)。\n   其允许您使用具有不同状态的过滤器获取所有订单。如果 `with` 段含有 `analytics_data`的值，甚至可以获取数据分析。\n\n   最初，通过API的所有订单都带有状态 `awaiting_packaging`。\n\n2. 获取更多订单信息:[/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)。\n\n   在 `requirements` 模块指出：\n    - 哪些商品必须贴上标签;\n    - 是否需要传送货物报关单的编号及该批货物的登记编号 — 该信息可使用以下方法获得  [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      和 [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)。\n\n   您还可以通过条形码获取其他信息: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode)。\n\n3. 通过 [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)传输商品数据。\n   请创建商品样本并告知不需要强制性商品标志： `is_mandatory_mark_needed = false`。\n\n4. 在装配时间结束前，确认您已装配订单：[/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4)。\n\n   如有必要，请使用此方法将订单分成若干批次。 例如，如果订单中有多个商品，并且需要包装在不同的盒子中，放置一起不符合包装要求。\n\n   使用该方法后，商品状态将更改为 `awaiting_registration`。\n\n   您可以使用该方法进行部分装配:[/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage)。\n\n5. 当承运人处理货物时，其状态将从 `awaiting_registration` 转到 `awaiting_delivery`。 此后，商品将被分配一个追踪号。\n\n   为每件订单打印标签，以便在Ozon系统中识别: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel)。\n\n   将货件交付至送货服务。从“配送中”到\"已送达\"的所有状态都将由交付服务传输。\n\n## FBP 方案\n\n### 直供\n\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate)——传递商品清单，检查合作伙伴仓库是否可以接收这些商品。\n3. [/v1/fbp/draft/direct/timeslot/get](#operation/FbpDraftDirectGetTimeslot)——获取直接交货的可用时间段。\n4. 选择配送方法：\n\n   <details>\n   <summary>卖家自送</summary>\n\n   • [/v1/fbp/draft/direct/seller-dlv/create](#operation/FbpDraftDirectSellerDlvCreate)——创建交货申请草稿。<br>\n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit)——修改草稿中的交货时间段。<br>\n   • [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit)——更新草稿中卖家自送的交货信息。\n\n   </details>\n   <details>\n   <summary>第三方承运服务配送</summary>\n\n   • [/v1/fbp/draft/direct/tpl-dlv/create](#operation/FbpAPI_FbpDraftDirectTplDlvCreate)——创建交货申请草稿。<br>\n   • [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit)——修改草稿中的交货时间段。<br>\n   • [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit)——更新草稿中第三方承运服务的配送信息。\n\n   </details>\n\n<style>\ndetails {\n  margin-bottom: 10px;\n  border: 1px solid #ddd;\n  padding: 10px;\n  border-radius: 5px;\n}\nsummary {\n  cursor: pointer;\n  font-weight: bold;\n}\n</style>\n\n5. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n6. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取交货草稿信息。如有错误，请使用 [/v1/fbp/draft/direct/delete](#operation/FbpDraftDirectDelete) 删除草稿。\n7. [/v1/supply-order/bundle](#operation/SupplyOrderBundle)——请使用 `bundle_id` 获取商品组成信息。\n8. [/v1/fbp/draft/direct/registrate](#operation/FbpDraftDirectRegistrate)——将交货草稿转为正式申请。\n9. [/v1/fbp/order/direct/timeslot/list](#operation/FbpAPI_FbpAvailableTimeslotList)——获取仓库的最新交货时间段。\n10. [/v1/fbp/order/direct/timeslot/edit](#operation/FbpAPI_FbpEditTimeslot)——修改当前的交货时间段。\n11. [/v1/fbp/order/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit) 或 [/v1/fbp/order/direct/tpl-dlv/edit](#operation/bpAPI_FbpDraftDirectTplDlvEdit)——传递最新的交货信息（无论是自送还是通过承运商）。\n12. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n13. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如交货申请中有错误，请使用 [/v1/fbp/order/direct/cancel](#operation/FbpAPI_FbpOrderDirectCancel) 取消交货。\n14. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签的任务。\n15. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n16. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单的任务。\n17. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及其生成状态。\n18. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n19. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n20. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n21. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 交货至合作伙伴订单接收点\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate)——检查合作伙伴仓库是否可以接收商品。\n3. [/v1/fbp/draft/drop-off/province/list](#operation/FbpDraftDropOffProvinceList)——获取省份列表。\n4. [/v1/fbp/draft/drop-off/point/list](#operation/FbpDraftDropOffPointList)——获取省内接收点列表。\n5. [/v1/fbp/draft/drop-off/point/timetable](#operation/FbpDraftDropOffPointTimetable)——获取接收点的工作时间表。\n6. [/v1/fbp/draft/drop-off/create](#operation/FbpDraftDropOffCreate)——创建 drop-off 交货草稿。\n7. [/v1/fbp/draft/drop-off/dlv/edit](#operation/FbpDraftDropOffDlvEdit)——修改草稿中的 drop-off 交货信息。\n8. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n9. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取具体交货草稿信息。如有错误，请使用 [/v1/fbp/draft/drop-off/delete](#operation/FbpDraftDropOffDelete) 删除。\n10. [/v1/supply-order/bundle](#operation/SupplyOrderBundle)——请使用 `bundle_id` 获取商品组成信息。\n11. [/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate)——将草稿转为正式交货申请。\n12. [/v1/fbp/order/drop-off/timetable](#operation/FbpAPI_FbpOrderDropOffTimetable)——获取 drop-off 接收点工作时间表。\n13. [/v1/fbp/order/drop-off/dlv/edit](#operation/FbpAPI_FbpOrderDropOffDlvEdit)——传递 drop-off 接收点的交货信息。\n14. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n15. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如有错误，请使用 [/v1/fbp/order/drop-off/cancel](#operation/FbpAPI_FbpOrderDropOffCancel) 取消交货。\n16. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签任务。\n17. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n18. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单任务。\n19. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及生成状态。\n20. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n21. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n22. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n23. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 卖家仓库商品运出\n1. [/v1/fbp/warehouse/list](#operation/FbpWarehouseList)——获取合作伙伴仓库列表。\n2. [/v1/fbp/draft/pick-up/product/validate](#operation/FbpAPI_FbpDraftPickUpProductValidate)——检查合作伙伴仓库是否可以接收商品。\n3. [/v1/fbp/draft/pick-up/create](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——创建 pick-up 交货草稿。\n4. [/v1/fbp/draft/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——修改草稿中的 pick-up 交货信息。\n5. [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)——获取草稿列表。\n6. [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)——获取具体交货草稿信息。如有错误，请使用 [/v1/fbp/draft/pick-up/delete](#operation/FbpAPI_FbpDraftPickUpDelete) 删除。\n7. [/v1/supply-order/bundle](#operation/SupplyOrderBundle)——请使用 `bundle_id` 获取商品组成信息。\n8. [/v1/fbp/draft/pick-up/registrate](#operation/FbpDraftPickUpRegistrate)——将草稿转为正式交货申请。\n9. [/v1/fbp/order/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit)——修改 pick-up 接收点信息。\n10. [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList)——获取交货列表。\n11. [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)——获取具体交货信息。如交货申请中有错误，请使用 [/v1/fbp/order/pick-up/cancel](#operation/FbpAPI_FbpOrderPickUpCancel) 取消交货。\n12. [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel)——创建生成标签的任务。\n13. [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel)——获取标签及生成状态。\n14. [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote)——创建生成货物运单任务。\n15. [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState)——获取货物运单及其生成状态。\n16. [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct)——创建生成接收单的任务。\n17. [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState)——获取接收单及其生成状态。\n18. [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)——获取已完成交货的列表。\n19. [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)——获取具体已完成交货的详细信息。\n\n### 取消货件的交付\n1. 在任何阶段使用 [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) , 以获得取消订单的原因。\n2. 然后传递该列表和出发号： [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting)。\n\n要取消货件中的部分商品，请使用 [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct)。\n\n如果订单被买方取消，状态将更改为 `cancelled`。\n\n## 如何操作含称重商品的订单 (rFBS)\n在将含称重商品的订单转移到 “等待装运” — `awaiting_delivery`之前, 请传输有关称重货物重量的确切数据。\n为此，在装配期间称重后，通过方法传递有关每个称重SKU重量信息 [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6)。\n\n如果在创建商品时，您对指定商品进行称重，并向其添加了20577、8933和8934属性，则必须对商品进行称重。\n\n在为所有称重商品副本传递正确重量后，您将能够将货物转移到\"等待装运\"状态 — `awaiting_delivery`。\n\nAPI将返回错误400，如果您:\n\n-并非所有货物的副本都被称重,\n-赋予非称重货物的重量值\n-样本未落在属性8933和8934指定的范围内。\n\n# 档案操作\n- [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) — 获取每个操作清单。\n- [/v2/posting/fbs/digital/act/document-sign](#operation/PostingAPI_DigitalActDocumentSign) — 如果您连接到电子文档管理(EDI)，\n  请就差异和盈余签署电子行为签字。\n\n# 获取退货信息\n- [/v1/returns/list](#operation/returnsList) — 获取根据FBS计划出售的有关退货商品信息。\n\n# 管理取消订单\n获取订单和与订单有关的信息：[/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2)。\n\n对新的取消请求做出决定—确认或拒绝:\n- [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) — 确认rFBS取消请求。\n  订单将自动取消，钱将退还给买家。\n- [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) — 拒绝rFBS取消请求。\n  订单将保持相同的状态，并且需要交付给买方。\n\n# 管理rFBS订单退货申请\n\n获取退货申请及其信息：\n\n- [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) — 获取rFBS退货申请的信息。\n- [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2) — 获取rFBS退货申请列表。\n\n您可以通过方法 [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) 批准、赔偿、确认退款，申请商品返检或拒绝退货申请。\n为了传递正确的 `action`，请通过方法 [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) 获取针对具体退货可用的操作列表。\n\n# 管理聊天\n要获取聊天列表，请使用 [/v3/chat/list](#operation/ChatAPI_ChatListV3)。 响应将包含当前聊天和最近消息的ID。\n\n要通过聊天ID发送消息，请使用以下方法:\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — 用于发送短信。\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — 用于发送文件和图片。\n\n要通过聊天ID或消息获取聊天历史记录，请使用 [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) 默认的排序方向是从新邮件到旧邮件。\n\n如果指定消息ID，则聊天记录将从此消息开始。\n\n按照出发号码创建与买家的新聊天,请使用 [/v1/chat/start](#operation/ChatAPI_ChatStart)。\n\n将消息及其之前的所有消息标记为已读,请使用 [/v2/chat/read](#operation/ChatAPI_ChatReadV2)。\n\n# 接收及核对发票\n\n1. 按出发编号获取发票列表： [/v1/supplier/orders/{orderId}/waybill_acceptance_results](#operation/SupplierAPI_SupplierContractorsWaybillAcceptance)。\n   响应将包含发票ID，可用于检查验收结果。\n2. 通过发票ID检查验收结果：[/v1/supplier/waybill_acceptance_results/{waybillId}](#operation/SupplierAPI_SupplierContractorsWaybillAcceptanceWaybillId)。\n\n# 创建和接收报告\n请求任何报告时，首先返回用于文档创建代码。 在[/v1/report/info](#operation/ReportAPI_ReportInfo)的请求中发送它 — 报告文件和其他信息将在响应中返回。 \n要获取先前生成的报告列表，请使用 [/v1/report/list](#operation/ReportAPI_ReportList)。\n\n获取报告的方法:\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — 包含商品数据的报告，例如，OZON ID、商品描述、价格、佣金或包装尺寸。\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — 商家个人帐户中提供的交易报告。\n- [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4) — 价格报告。\n- [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport) — 库存报告。\n- [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate) — FBS和rFBS的商品退货报告。 该报告包含从买方接受的货物，准备接收或转移给卖方。\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — 发货报告。\n- [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) — 财务报告。\n- [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport) — 减价商品报告.\n\n# 获取分析报告\n- [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — 获取分析数据。\n\n  如果指定要计算的周期和指标，则响应将包含按`dimensions` 参数分组的分析。\n\n# 获取财务报告\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — 获取要发送的交易详细信息。\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — 获取有关指定期间的交易总额。\n"
    },
    {
      "name": "APIkey",
      "x-displayName": "API密钥相关信息"
    },
    {
      "name": "SellerInfo",
      "x-displayName": "卖家账户信息"
    },
    {
      "name": "CategoryAPI",
      "x-displayName": "Ozon 的属性和特征"
    },
    {
      "name": "ProductAPI",
      "x-displayName": "商品上传和更新"
    },
    {
      "name": "BarcodeAPI",
      "x-displayName": "商品条形码列表"
    },
    {
      "name": "Prices&StocksAPI",
      "x-displayName": "商品价格和库存"
    },
    {
      "name": "Promos",
      "x-displayName": "Ozon促销活动",
      "description": "为了推广商品，参加Ozon为买家举办的促销活动。\n阅读更多关于促销活动的信息 [卖家知识库](https://global-help.ozon.com/zh/promotion/promotions/promo/)。"
    },
    {
      "name": "PricingStrategyAPI",
      "x-displayName": "定价策略"
    },
    {
      "name": "WarehouseAPI",
      "x-displayName": "FBS 和 rFBS 仓库管理"
    },
    {
      "name": "FBSWarehouseSetup",
      "x-displayName": "创建并管理 FBS 仓库"
    },
    {
      "name": "FBS",
      "x-displayName": "FBS和rFBS订单处理"
    },
    {
      "name": "FBS&rFBSMarks",
      "x-displayName": "FBS/rFBS标志代码和订单备货管理"
    },
    {
      "name": "DeliveryFBS",
      "x-displayName": "FBS配送"
    },
    {
      "name": "DeliveryrFBS",
      "x-displayName": "rFBS配送"
    },
    {
      "name": "Pass",
      "x-displayName": "通行证"
    },
    {
      "name": "ReturnsAPI",
      "x-displayName": "FBO和FBS商品退货"
    },
    {
      "name": "RFBSReturnsAPI",
      "x-displayName": "rFBS商品退货"
    },
    {
      "name": "CancellationAPI",
      "x-displayName": "取消订单"
    },
    {
      "name": "PolygonAPI",
      "x-displayName": "多边形"
    },
    {
      "name": "FBO",
      "x-displayName": "FBO"
    },
    {
      "name": "ChatAPI",
      "x-displayName": "与买家的聊天",
      "description": "更多方法请见[**Premium方法**](#tag/Premium)。"
    },
    {
      "name": "ReportAPI",
      "x-displayName": "报告"
    },
    {
      "name": "FinanceAPI",
      "x-displayName": "财务报告",
      "description": "更多方法请见[**Premium方法**](#tag/Premium)。"
    },
    {
      "name": "AccessTokenAPI",
      "x-displayName": "API的令牌"
    },
    {
      "name": "SellerRating",
      "x-displayName": "卖家评级",
      "description": "在 Ozon 平台运营时，卖家需要遵守关于服务质量、配送时效以及与客户沟通等方面的要求。评级系统用于反映卖家的服务质量，其中部分指标对买家可见——例如商品评级和价格指数。"
    },
    {
      "name": "News",
      "x-displayName": "更新",
      "description": "## 2026年6月22日\n\n| Method                                                        | Changes                                               |\n|---------------------------------------------------------------|-------------------------------------------------------|\n| [/v1/product/visibility/set](#operation/ProductVisibilitySet) | 已更新方法描述。<br>更新了该方法请求中参数`item_placement.placement`的描述。 |\n\n## 2026年6月19日\n\n| 方法 | 变更                                                                                                                                                      |\n|----|---------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —  | 已添加模块 [**推送通知 → Ozon发送的通知 → 更改日期和时间**](#section/类目树更改)。 <br> 已添加通知类型`TYPE_DESCRIPTION_CATEGORY_TREE_CHANGED`至[**推送通知 → Ozon发送的通知**](#tag/push_types)章节。 |\n\n## 2026年6月11日\n\n| 方法                                                                                                                                                                                                                                                                   | 变更                                                                                                                                                      |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/review/list](#operation/ReviewListV2)                          | 新增了用于获取评价列表的方法版本。| \n| [/v1/review/list](#operation/ReviewAPI_ReviewList)                   | 该方法已弃用，并将在未来停用。请切换到[/v2/review/list](#operation/ReviewListV2)。 |\n| — | 在[**常见错误**](#tag/Errors)模块中添加了以下错误说明：<ul><li> `method is not allowed`——适用于所有方法；</li><li>`not available with existing subscription`——适用于方法[/v2/review/list](#operation/ReviewListV2)。</ul></li> |\n\n## 2026年6月9日\n\n| 方法                                                              | 变更                                                                     |\n|-----------------------------------------------------------------|------------------------------------------------------------------------|\n| [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota)  | 在方法的响应中添加了参数 `operation_limits`和`total.quota_by_category`的说明。          |\n| /v2/chat/list                                                   | 该方式已过期，我们已将其从文件中删除。请使用 [/v3/chat/list](#operation/ChatAPI_ChatListV3)。 |\n| [/v1/finance/accrual/by-day](#operation/GetFinanceAccrualByDay) | 在方法响应中，将参数名称`accruals.type_id`改为`accruals.accrual_id`。                 |\n\n## 2026年6月3日\n\n| 方法                                                        | 变更                               |\n|-----------------------------------------------------------|----------------------------------|\n| [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) | 新增了用于创建发运的方法。 |\n|[/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) | 新增了用于获取单据中货件列表的方法。|\n| [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove) | 新增了用于确认发运的方法。 |\n|[/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels)| 新增了方法，用于创建货位标签。  |\n\n## 2026年6月2日\n\n| 方法                                                        | 变更                               |\n|-----------------------------------------------------------|----------------------------------|\n| [/v1/seller/info](#operation/SellerAPI_SellerInfo)        | 更新了方法响应中`company.currency`参数的描述。 |    \n| [/v1/polygon/create](#operation/PolygonAPI_CreatePolygon) | 已更新方法描述。                         |\n\n## 2026年5月28日\n\n| 方法                                                                                                                                                                       | 变更                                                                                                                                                                                                                                                                                                          |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)                                                                                                    | 更新了方法响应中`items.marketing_actions`、`items.marketing_actions.actions`、`items.marketing_actions.actions.date_from`、`items.marketing_actions.actions.date_to`、`items.marketing_actions.actions.title`和`items.marketing_actions.actions.value`参数的说明。                                                             |\n| [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet)<br>[/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet)<br>[/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet)       | 更新了方法响应中`delivery_details.direct_details.timeslot_details.timeslot.timeslot_end`、`delivery_details.direct_details.timeslot_details.timeslot.timeslot_start`、`delivery_details.drop_off_point.timeslot.timeslot_end`和`delivery_details.drop_off_point.timeslot.timeslot_start`参数的说明。                         |\n| [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList)<br>[/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList)<br>[/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList) | 更新了方法响应中`items.delivery_details.direct_details.timeslot_details.timeslot.timeslot_end`、`items.delivery_details.direct_details.timeslot_details.timeslot.timeslot_start`、`items.delivery_details.drop_off_point.timeslot.timeslot_end`和`items.delivery_details.drop_off_point.timeslot.timeslot_start`参数的说明。 |\n\n## 2026年5月26日\n\n| 方法 | 变更                                                                                                                                                   |\n|-------|------------------------------------------------------------------------------------------------------------------------------------------------------|\n| — | 在[**常见错误**](#tag/Errors)模块中，更新了错误`FLAMMABLE_ONLY_ON_SELF_OR_PROVIDER_DELIVERY`在方法[/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2)中的描述。| \n\n## 2026年5月22日\n\n| 方法                                                                                                                                  | 变更                                              |\n|----------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------|\n| [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2) | 在方法响应中新增了参数`delivery_methods.tpl_dropoff_point`。| \n| — | 在[**错误**](#tag/Errors)板块中，已为[/v3/product/import](#operation/ProductAPI_ImportProductsV3)方式添加了错误描述：`SELLER_NO_CONTRACT_FAILED`, `error_attribute_values_empty`, `error_attribute_values_out_of_range`, `missing_dimension`, `VALUE_MAX_LIMIT`, `EMPTY_REQUIRED`, `description_category_invalid`, `description_category_has_no_description_type`, `description_category_is_legacy`, `levels_category_not_found`, `description_category_is_empty`, `description_type_is_empty`, `vat_invalid`, `name_too_long`, `all_image_failed`, `invalid_rich_content_json`, `all_image_unprocessed`, `price_out_of_range`, `old_price_less_than_price`, `min_auto_price_too_big`, `min_auto_price_too_small`和`price_less_than_min_auto_price`。|\n\n## 2026年5月21日\n\n| 方法                                                                      | 变更                                                                                                                                                            |\n|-------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2) | 已更新方法说明。                                                                                                                                                      |    \n| —                                                                       | 在[**错误**](#tag/Errors)部分中，为方法[/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel)新增了错误`label not allowed for delivered postings`的说明。 |\n\n## 2026年5月20日\n\n| 方法                                                                                                                                    | 变更                                                                                                                               |\n|---------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/seller-actions/products/delete](#operation/SellerActionsProductsDelete)                                                          | 更新了该方法请求中参数`skus`的描述。                                                                                                            |\n| [/v1/finance/balance](#operation/GetFinanceBalanceV1)                                                                                 | 更新了请求示例。                                                                                                                         |\n\n## 2026年5月19日\n\n| 方法                                                                                                                                    | 变更                                                                                                                               |\n|---------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData)                                                                        | 更新了该方法请求中参数`dimension`的描述。                                                                                                       |\n| [/v1/product/prices/details](#operation/ProductPricesDetails)                                                                         | 在方法响应中：<ul><li>新增了`prices.price_indexes`参数；</li><li>将`prices.discount_percent`参数标记为已弃用；</li><li>更新了`prices.customer_price`参数的说明。 |\n| /v1/analytics/average-delivery-time/details <br> /v1/analytics/average-delivery-time <br> /v1/analytics/average-delivery-time/summary | 该方式已过期，我们已将其从文件中删除。                                                                                                              |\n| [/v1/question/answer/list](#operation/QuestionAnswer_List)                                                                            | 在方法响应中新增了`answers.status_publication`参数。                                                                                         |\n| [/v1/question/list](#operation/Question_List)                                                                                         | 在方法请求中新增了`sort_dir`和`limit`参数。<br>在方法响应中新增了`has_next`参数。                                                                         |\n\n## 2026年5月15日\n\n| 方法 | 变更                                                                                                                                                                                                |\n|-------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/barcode/add](#operation/add-barcode) | 已更新方法描述。 |\n\n## 2026年5月14日\n\n| 方法                                                                                                                                                              | 变更                                                                                                                                                        |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/product/info/stocks-by-warehouse/fbs](#operation/GetProductInfoStocksByWarehouseFbsV2) | 新增了用于处理卖家仓库库存的方法。 |    \n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | 已更新方法响应中`items.promotions.type`参数的描述。 |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)  | 更新了该方法请求中参数`items.promotions.type`的描述。      |\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) | 更新了方法描述。 |\n\n## 2026年5月12日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                  | 变更                                |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------|\n| [/v1/actions](#operation/Promos)                                                                                                                                                                                                                                                                                                                                                    | 新增了参数`result.auto_add_dates`至方法响应中。 |\n| [/v1/actions/auto-add/products/list](#operation/ActionsAutoAddProductsList)<br>[/v1/actions/auto-add/products/candidates](#operation/ActionsAutoAddProductsCandidates)<br>[/v1/actions/auto-add/products/delete](#operation/ActionsAutoAddProductsDelete)<br>[/v1/actions/auto-add/products/update](#operation/ActionsAutoAddProductsUpdate)                                        | 新增了用于处理商品自动添加到促销活动中的beta方法。       |\n| [/v1/product/visibility/info](#operation/ProductVisibilityInfo) | 新增了用于获取商品可见性信息的Beta版方法。 |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)<br>[/v1/product/import-by-sku](#operation/ProductAPI_ImportProductsBySKU)<br>[/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes)<br>[/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures)<br>[/v1/product/update/offer-id](#operation/ProductAPI_ProductUpdateOfferID) | 已更新方法说明。                          |    \n| [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) | 已新增方法描述。 |     \n| [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) | 更新了该方法请求中参数`prices.min_price`的描述。|\n| [/v1/product/action/timer/status](#operation/ProductAPI_ActionTimerStatus) | 已更新方法响应中`statuses.expired_at`参数的描述。 |\n\n## 2026年5月7日\n\n| 方法 | 变更                                                                      |\n|-------|-------------------------------------------------------------------------|\n| —     | 在[**推送通知 → 新的聊天消息、聊天消息已更改、您的消息已读**和**聊天已关闭**](#section/新的聊天消息)部分中，已更新参数`chat_type`的取值。 |\n\n## 2026年5月6日\n\n| 方法                                                                                           | 变更                                                                                                                                                                                                                                |\n|----------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/finance/accrual/postings](#operation/GetFinanceAccrualPostings)                                                                                                                                                | 新增用于获取按货件统计的应计项目的beta方法。                                                                                                                                                                                                          |\n| [/v1/finance/accrual/types](#operation/GetFinanceAccrualTypes)                                                                                                                                                      | 新增用于获取按货件统计的应计项目参考信息的beta方法。                                                                                                                                                                                                      |\n| [/v1/finance/accrual/by-day](#operation/GetFinanceAccrualByDay)                                                                                                                                                     | 新增用于获取某一货件某日应计项目的beta方法。                                                                                                                                                                                                          |\n| [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3)                                                                                                                                      | 该方法即将废弃，并将于2026年7月6日停用。请切换到[/v1/finance/accrual/postings](#operation/GetFinanceAccrualPostings), [/v1/finance/accrual/types](#operation/GetFinanceAccrualTypes), [/v1/finance/accrual/by-day](#operation/GetFinanceAccrualByDay)。 |\n| [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) | 该方法即将废弃，并将于2026年7月6日停用。请切换到[/v1/finance/accrual/postings](#operation/GetFinanceAccrualPostings), [/v1/finance/accrual/types](#operation/GetFinanceAccrualTypes), [/v1/finance/accrual/by-day](#operation/GetFinanceAccrualByDay)。 |\n\n## 2026年5月5日\n\n| 方法                                                                                                                                                          | 变更                                                                                                                                     |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|\n| [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks)<br>[/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices)              | 更新了方法请求中参数 `filter.visibility` 的描述。                                                                                                    |\n| [/v1/seller/ozon-logistics/info](#operation/SellerAPI_SellerOzonLogisticsInfo)                                                                              | 更新了方法名称。<br>更新了方法响应中参数`ozon_logistics_enabled`的说明。                                                                                     |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 更新了方法响应中参数`result.analytics_data.client_delivery_date_begin`和`result.analytics_data.client_delivery_date_end`的说明。                      |    \n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 更新了各方法响应中参数 `result.postings.analytics_data.client_delivery_date_begin`和 `result.postings.analytics_data.client_delivery_date_end`的说明。 |\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)                                                                                                              | 更新了方法响应中参数`chats.chat.chat_type`的说明。                                                                                                   |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3) <br> [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) <br> [/v1/product/archive](#operation/ProductAPI_ProductArchive) <br> [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) <br> [/v1/product/info/wrong-volume](#operation/ProductAPI_ProductInfoWrongVolume)| 更新了方法描述。  |\n\n## 2026年4月30日\n\n| 方法                                                                                     | 变更                                                                                                                                                                                                                        |\n|----------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v4/posting/fbs/unfulfilled/list](#operation/PostingFbsUnfulfilledList)               | 新增了用于获取FBS未处理货件列表的方法新版本。                                                                                                                                                                                                  |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 该方法已弃用，并将于2026年6月1日停用。请切换到 [/v4/posting/fbs/unfulfilled/list](#operation/PostingFbsUnfulfilledList)。                                                                                                                      |\n| [/v4/posting/fbs/list](#operation/PostingFbsList)                                      | 新增了用于获取FBS货件列表的方法新版本。                                                                                                                                                                                                     |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)                      | 该方法已弃用，并将于2026年6月1日停用。请切换到 [/v4/posting/fbs/list](#operation/PostingFbsList)。                                                                                                                                             |\n| [/v1/posting/fbp/list](#operation/PostingFbpList)                                      | 新增了用于获取FBP货件列表的新的beta方法。                                                                                                                                                                                                  |\n| [/v1/carriage/get](#operation/CarriageGet)                                             | 更新了方法响应中 `available_actions` 参数的描。                                                                                                                                                                                        |\n| [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList)                            | 在方式的请求中添加了`with.able_to_set_price`参数。<br>在方式的响应中添加了`result.is_able_to_set_price`和`result.is_presorted`参数。                                                                                                                 |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 在方式的请求中添加了`filter.last_changed_status_date`参数。<br>在方式的响应中添加了`result.postings.is_presortable`、`result.postings.destination_place_id`、`result.postings.destination_place_name`和`result.postings.customer.customer_email`参数。 |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)                      | 在方式的响应中添加了参数`result.postings.is_presortable`、`result.postings.destination_place_id`、`result.postings.destination_place_name`和`result.postings.customer.customer_email`。                                                   |\n\n## 2026年4月24日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                 | 变更                                                                                                                     |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\n| [/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate)<br>[/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate)<br>[/v1/fbp/draft/pick-up/product/validate](#operation/FbpAPI_FbpDraftPickUpProductValidate)| 在方法的响应中，为`rejected_items.rejection_reasons`参数增加了`NO_SALES`、`SURPLUS`和`AVAILABILITY_IS_EMPTY`值。                            |\n| [/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate)<br>[/v1/fbp/draft/direct/registrate](#operation/FbpDraftDirectRegistrate)<br>[/v1/fbp/draft/pick-up/registrate](#operation/FbpDraftPickUpRegistrate)| 在方法的响应中，为`error.bundle_errors.errors`参数增加了`NO_SALES`、`SURPLUS`和`AVAILABILITY_IS_EMPTY`值。 |\n\n## 2026年4月17日\n\n| 方法                                                                                                                                                           | 变更                                                 |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                 | 在方法响应中新增参数`result.tariffication_steps`。            |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)  | 在各方法响应中新增参数`result.postings.tariffication_steps`。  |\n\n## 2026年4月14日\n\n| 方法                                                                                           | 变更                      |\n|----------------------------------------------------------------------------------------------|-------------------------|\n| /v1/seller-actions/create/ozon-card-discount<br>/v1/seller-actions/update/ozon-card-discount | 该促销活动已无法使用，相关方法已从文档中删除。 |\n\n## 2026年4月6日\n\n| 方法                                                | 变更                                                        |\n|------------------------------------------------------|------------------------------------------------------------------|\n| [/v1/product/visibility/set](#operation/ProductVisibilitySet) | 新增了用于设置商品在Ozon和Ozon Select橱窗可见性的Beta方法。|\n\n## 2026年4月2日\n\n| 方法 | 变更                                                                                                                                                                                                                                 |\n|----|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —  | 已将**方法操作顺序 → 请参加促销活动**模块更名为[**方法操作顺序 → 参与Ozon促销活动**](#process-ozon-special-offers)。<br>已将**促销活动**模块更名为[**Ozon促销活动**](#tag/Promos)。<br>新增了[**方法操作顺序 → 卖家促销活动管理**](#section/卖家促销活动管理)模块。<br>新增了[**卖家促销活动**](#tag/SellerActions)模块描述。 |\n\n## 2026年3月31日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                               | 变更                 |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------|\n| [/v1/review/comment/create](#operation/ReviewAPI_CommentCreate)<br>[/v1/review/comment/delete](#operation/ReviewAPI_CommentDelete)<br>[/v1/review/comment/list](#operation/ReviewAPI_CommentList)<br>[/v1/review/change-status](#operation/ReviewAPI_ReviewChangeStatus)<br>[/v1/review/count](#operation/ReviewAPI_ReviewCount)<br>[/v1/review/info](#operation/ReviewAPI_ReviewInfo)<br>[/v1/review/list](#operation/ReviewAPI_ReviewList) | 更新了方法描述。 |\n\n## 2026年3月24日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 | 变更                                                                                                                    |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------|\n| [/v1/seller-actions/create/discount](#operation/SellerActionsCreateDiscount) <br> [/v1/seller-actions/create/discount-with-condition](#operation/SellerActionsCreateDiscountWithCondition) <br> [/v1/seller-actions/create/installment](#operation/SellerActionsCreateInstallment) <br> [/v1/seller-actions/create/multi-level-discount](#operation/SellerActionsCreateMultiLevelDiscount) <br> /v1/seller-actions/create/ozon-card-discount <br> [/v1/seller-actions/create/voucher](#operation/SellerActionsCreateVoucher) <br> [/v1/seller-actions/update/discount](#operation/SellerActionsUpdateDiscount) <br> [/v1/seller-actions/update/discount-with-condition](#operation/SellerActionsUpdateDiscountWithCondition) <br> [/v1/seller-actions/update/installment](#operation/SellerActionsUpdateInstallment) <br> [/v1/seller-actions/update/multi-level-discount](#operation/SellerActionsUpdateMultiLevelDiscount) <br> /v1/seller-actions/update/ozon-card-discount <br> [/v1/seller-actions/update/voucher](#operation/SellerActionsUpdateVoucher) <br> [/v1/seller-actions/products/add](#operation/SellerActionsProductsAdd) <br> [/v1/seller-actions/products/candidates](#operation/SellerActionsProductsCandidates) <br> [/v1/seller-actions/products/delete](#operation/SellerActionsProductsDelete) <br> [/v1/seller-actions/products/list](#operation/SellerActionsProductsList) <br> [/v1/seller-actions/archive](#operation/SellerActionsArchive) <br> [/v1/seller-actions/change-activity](#operation/SellerActionsChangeActivity) <br> [/v1/seller-actions/list](#operation/SellerActionsList) <br> [/v1/seller-actions/voucher/get](#operation/SellerActionsVoucherGet) | 新增了用于管理卖家促销活动的Beta方法。                                                                                                 |\n| [/v1/seller/info](#operation/SellerAPI_SellerInfo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 | 新增用于获取卖家个人中心信息的测试版方法。                                                                                                 |    \n| [/v1/seller/ozon-logistics/info](#operation/SellerAPI_SellerOzonLogisticsInfo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     | 新增用于获取卖家接入 Ozon 物流情况的测试版方法。                                                                                           |\n| [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             | 该方式已过时，并将于2026年4月7日关闭。请切换至 [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2) 新版本。              |\n| [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        | 该方式已过时，并将于2026年4月7日关闭。请切换至 [/v2/warehouse/list](#operation/WarehouseListV2) 新版本。                                      |\n| [/v3/product/import](#operation/ProductAPI_ImportProductsV3)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | 在方法描述中新增了关于上传Ozon Select主图的信息。                                                                                        |\n\n## 2026年3月19日\n\n| 方法                                                | 变更                                                           |\n|------------------------------------------------------|---------------------------------------------------------------------|\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3)       | 更新了方法响应中 `chats.chat.chat_type` 参数的描。|\n| [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) | 更新了方法响应中 `messages.user.type` 参数的描。|\n\n## 2026年3月17日\n\n| 方法                                                                                                                                                          | 变更                                                                                                                                      |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/description-category/tips](#operation/DescriptionCategoryTips)  | 我们新增了用于获取商品类目提示的Beta方法。 |\n| /v1/analytics/average-delivery-time<br>/v1/analytics/average-delivery-time/details<br>/v1/analytics/average-delivery-time/summary | 更新了方法描述。 |\n| [/v1/product/update/offer-id](#operation/ProductAPI_ProductUpdateOfferID)  | 更新了方法描述。为方法请求中的 `update_offer_id` 参数添加了限制。|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | 已更新方式响应中 `result.analytics_data.client_delivery_date_begin` 和 `result.analytics_data.client_delivery_date_end` 参数的描述。                   |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | 更新了方法响应中 `result.postings.analytics_data.client_delivery_date_begin` 和 `result.postings.analytics_data.client_delivery_date_end` 参数的描述。 |   \n\n## 2026年3月12日\n\n| 方法                                                                       | 变更                                   |\n|--------------------------------------------------------------------------|--------------------------------------|\n| [/v1/carriage/get](#operation/CarriageGet)                               | 已更新方法响应中 `available_actions` 参数的描述。  |\n\n## 2026年3月11日\n\n| 方法                                                                            | 变更       |\n|-------------------------------------------------------------------------------|----------|\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3) | 更新了方法响应中的 `chats.chat.chat_type` 参数描述。                                                                                                     |\n\n## 2026年3月10日\n\n| 方法                                                                            | 变更       |\n|-------------------------------------------------------------------------------|----------|\n| [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel) | 更新了方法描述。 |\n\n## 2026年3月4日\n\n| 方法                                          | 变更                                                                                        |\n|------------------------------------------------|--------------------------------------------------------------------------------------------------|\n| [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2) | 新增了用于获取rFBS仓库配送方式的方法。 |\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | 在方法的响应中新增了参数 `expires_at`。   |\n| [/v1/product/prices/details](#operation/ProductPricesDetails) | 已将该方法从Beta版迁移至正式版。 |\n| —                                              | 在 [**授权**](#tag/Auth) 模块，我们更新了关于API密钥使用的信息。|\n\n## 2026年2月26日\n\n| 方法                                                                | 变更                             |\n|-------------------------------------------------------------------|--------------------------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | 已更新方法响应中 `items.is_kgt` 参数的描述。 |    \n| — | 在 [**方法操作顺序 → 获取库存信息**](#section/获取库存信息) 部分，更新了有关方法操作的描述。 |\n\n## 2026年2月20日\n\n| 方法 | 变更 |\n|---|---|\n| /v2/chat/history | 该方式已过期，我们已将其从文件中删除。请使用 [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3)。 |\n\n## 2026年2月17日\n\n| 方法                                                                                                                                                                                                                                                                                     | 变更                                                                                                                                                                                                                                          |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/fbp/draft/direct/seller-dlv/create](#operation/FbpDraftDirectSellerDlvCreate)                                                                                                                                                                                                     | 在方法请求中将该参数 `bundle_id`, `delivery_details`, `delivery_details.driver_name`, `delivery_details.timeslot_start`, `delivery_details.vehicle_number`, `delivery_details.vehicle_type`, `package_units_count` 和 `warehouse_id`  标记为必填。           |\n| [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit)                                                                                                                                                                                                         | 在方法请求中将该参数 `driver_name`, `row_version`, `supply_id`, `vehicle_number` 和 `vehicle_type` 标记为必填。                                                                                                                                              |\n| [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit)                                                                                                                                                                                                            | 在方法请求中将该参数 `row_version`, `supply_id` 和 `timeslot_start` 标记为必填。                                                                                                                                                                             |\n| [/v1/fbp/draft/direct/timeslot/get](#operation/FbpDraftDirectGetTimeslot)                                                                                                                                                                                                              | 在方法请求中将该参数 `bundle_id`, `interval_end`, `interval_start` 和 `warehouse_id` 标记为必填。                                                                                                                                                            |\n| [/v1/fbp/draft/direct/create](#operation/FbpDraftDirectCreate)                                                                                                                                                                                                                         | 在方法请求中将该参数 `bundle_id`, `delivery_details`, `delivery_details.timeslot_start`, `package_units_count` 和 `warehouse_id` 标记为必填。                                                                                                                |\n| [/v1/fbp/draft/direct/delete](#operation/FbpDraftDirectDelete)<br>[/v1/fbp/draft/drop-off/delete](#operation/FbpDraftDropOffDelete)<br>[/v1/fbp/draft/pick-up/delete](#operation/FbpAPI_FbpDraftPickUpDelete)<br>[/v1/fbp/order/direct/cancel](#operation/FbpAPI_FbpOrderDirectCancel) | 在方法请求中将该参数 `supply_id` 标记为必填。                                                                                                                                                                                                               |\n| [/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate)<br>[/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate)<br>[/v1/fbp/draft/pick-up/product/validate](#operation/FbpAPI_FbpDraftPickUpProductValidate)                 | 已将方法请求中的 `skus`, `skus.count`, `skus.sku` 和 `warehouse_id` 参数标记为必填。                                                                                                                                                                         |\n| [/v1/fbp/draft/direct/registrate](#operation/FbpDraftDirectRegistrate)<br>[/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate)<br>[/v1/fbp/draft/pick-up/registrate](#operation/FbpDraftPickUpRegistrate)                                                         | 已将方法请求中的 `row_version` 和 `supply_id` 参数标记为必填。                                                                                                                                                                                               |\n| [/v1/fbp/draft/direct/tpl-dlv/create](#operation/FbpAPI_FbpDraftDirectTplDlvCreate)                                                                                                                                                                                                    | 在方法请求中将该参数 `bundle_id`, `delivery_details`, `delivery_details.timeslot_start`, `delivery_details.tracking_number`, `delivery_details.transport_company_name`, `package_units_count` 和 `warehouse_id` 标记为必填。                                 |\n| [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit)                                                                                                                                                                                                        | 在方法请求中将该参数 `row_version`, `supply_id`, `tracking_number` 和 `transport_company_name` 标记为必填。                                                                                                                                                  |\n| [/v1/fbp/draft/drop-off/create](#operation/FbpDraftDropOffCreate)                                                                                                                                                                                                                      | 在方法请求中将该参数 `bundle_id`, `delivery_details`, `delivery_details.drop_off_date`, `delivery_details.drop_off_point_id`, `delivery_details.drop_off_province_uuid`, `package_units_count` 和 `warehouse_id` 标记为必填。                                |\n| [/v1/fbp/draft/drop-off/dlv/edit](#operation/FbpDraftDropOffDlvEdit)                                                                                                                                                                                                                   | 在方法请求中将该参数 `drop_off_date`, `drop_off_point_id`, `drop_off_province_uuid`, `row_version` 和 `supply_id` 标记为必填。                                                                                                                               |\n| [/v1/fbp/draft/drop-off/province/list](#operation/FbpDraftDropOffProvinceList)                                                                                                                                                                                                         | 在方法请求中将该参数 `warehouse_id` 标记为必填。                                                                                                                                                                                                            |\n| [/v1/fbp/draft/drop-off/point/list](#operation/FbpDraftDropOffPointList)                                                                                                                                                                                                               | 在方法请求中将该参数 `page_size`, `province_uuid` 和 `warehouse_id` 标记为必填。                                                                                                                                                                             |\n| [/v1/fbp/draft/drop-off/point/timetable](#operation/FbpDraftDropOffPointTimetable)                                                                                                                                                                                                     | 在方法请求中将该参数 `drop_off_point_id`, `province_uuid` 和 `warehouse_id` 标记为必填。                                                                                                                                                                     |\n| [/v1/fbp/draft/pick-up/create](#operation/FbpAPI_FbpDraftPickupCreate)                                                                                                                                                                                                                 | 在方法请求中将该参数 `bundle_id`, `delivery_details`, `delivery_details.address`, `delivery_details.comment`, `delivery_details.date`, `delivery_details.sender_name`, `delivery_details.sender_phone`, `package_units_count` 和 `warehouse_id` 标记为必填。 |\n| [/v1/fbp/draft/pick-up/dlv/edit](#operation/FbpAPI_FbpDraftPickupDlvEdit)                                                                                                                                                                                                              | 在方法请求中将该参数 `row_version`, `supply_id`, `pickup_details`, `pickup_details.address`, `pickup_details.comment`, `pickup_details.date`, `pickup_details.sender_name` 和 `pickup_details.sender_phone` 标记为必填。                                     |\n\n## 2026年2月16日\n\n| 方法                                                                                      | 变更                                                                                            |\n|-----------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList)                             | 该方式已过时，并将于2026年3月20日关闭。请切换至 [/v2/warehouse/list](#operation/WarehouseListV2) 新版本。  |\n| [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList)   | 该方式已过时，并将于2026年3月20日关闭。请切换至 [/v2/carriage/delivery/list](https://docs.ozon.ru/api/seller/#operation/CarriageAPI_CarriageDeliveryListV2) 新版本。  |\n\n## 2026年2月12日\n\n| 方法 | 变更 |\n|---|---|\n| [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) | 在方法请求中将该参数 `return_id` 标记为必填。 |\n| [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) | 在方法请求中将该参数 `base64_content` 和 `name` 标记为必填。 |\n| [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) | 在方法请求中将该参数 `filter.processed_at_from` 和 `filter.processed_at_to` 标记为必填。 |\n| [/v1/report/marked-products-sales/create](#operation/CreateCompanyMarkedProductsSalesReport) | 在方法请求中将该参数 `date.from` 和 `date.to` 标记为必填。 |\n| [/v1/product/info/wrong-volume](#operation/ProductAPI_ProductInfoWrongVolume) | 在方法请求中将该参数 `limit` 标记为必填。 |\n| [/v1/product/stairway-discount/by-quantity/set](#operation/ProductAPI_SetProductStairwayDiscountByQuantity) | 在方法请求中将该参数 `stairways`，`stairways.enabled`，`stairways.sku`，`stairways.stairway`，`stairways.stairway.steps`，`stairways.stairway.steps.discount`，`stairways.stairway.steps.quantity` 和 `stairways.stairway.steps.step` 标记为必填。 |\n| [/v1/product/stairway-discount/by-quantity/get](#operation/ProductAPI_GetProductStairwayDiscountByQuantity)<br>[/v1/product/prices/details](#operation/ProductPricesDetails) | 在方法请求中将该参数 `skus` 标记为必填。 |\n| [/v1/warehouse/fbs/update](#operation/UpdateWarehouseFBS) | 在方法请求中将该参数 `address_coordinates` 标记为必填。 |\n| [/v1/actions/discounts-task/list](#operation/promos_task_list) | 在方法请求中将该参数 `page` 标记为必填。 |\n| [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet) | 在方法请求中将该参数 `supply_id` 标记为必填。 |\n| [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList) | 在方法请求中将该参数 `count` 标记为必填。 |\n| [/v1/fbp/order/direct/seller-dlv/edit](#operation/FbpAPI_FbpOrderDirectSellerDlvEdit) | 在方法请求中将该参数 `driver_name`，`row_version`，`supply_id`，`vehicle_number` 和 `vehicle_type` 标记为必填。 |\n| [/v1/fbp/order/direct/timeslot/edit](#operation/FbpAPI_FbpEditTimeslot) | 在方法请求中将该参数 `row_version`，`supply_id` 和 `timeslot_start` 标记为必填。 |\n| [/v1/fbp/order/direct/timeslot/list](#operation/FbpAPI_FbpAvailableTimeslotList) | 在方法请求中将该参数 `interval_end`，`interval_start` 和 `supply_id` 标记为必填。 |\n| [/v1/fbp/order/drop-off/cancel](#operation/FbpAPI_FbpOrderDropOffCancel) <br> [/v1/fbp/order/pick-up/cancel](#operation/FbpAPI_FbpOrderPickUpCancel) <br> [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct) <br> [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote) <br> [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet) | 在方法请求中将该参数 `supply_id` 标记为必填。 |\n| [/v1/fbp/order/drop-off/dlv/edit](#operation/FbpAPI_FbpOrderDropOffDlvEdit) | 在方法请求中将该参数 `drop_off_date`，`row_version` 和 `supply_id` 标记为必填。 |\n| [/v1/fbp/order/drop-off/timetable](#operation/FbpAPI_FbpOrderDropOffTimetable) | 在方法请求中将该参数 `drop_off_point_id`，`province_uuid` 和 `warehouse_id` 标记为必填。 |\n| [/v1/fbp/order/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit) | 在方法请求中将该参数 `pickup_details`，`pickup_details.sender_name`，`pickup_details.sender_phone`，`row_version` 和 `supply_id` 标记为必填。 |\n| [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState) | 在方法请求中将该参数 `file_uuid` 标记为必填。 |\n| [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState) | 在方法请求中将该参数 `code` 和 `supply_id` 标记为必填。 |\n| [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList) | 在方法请求中将该参数 `count` 标记为必填。 |\n| [/v1/product/import-by-sku](#operation/ProductAPI_ImportProductsBySKU) | 更新了方法描述。 |\n\n## 2026年2月10日\n\n| 方法                                                                                                                                                                                                                                                                                        | 变更                                  |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------|\n| [/v3/product/list](#operation/ProductAPI_GetProductList)<br>[/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4)<br>[/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks)<br>[/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) | 更新了方法请求中参数 `filter.visibility` 的描述。 |\n\n## 2026年2月5日\n\n| 方法 | 变更 |\n|---|---|\n| [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode) | 在方法请求中将该参数 `barcode` 标记为必填。 |\n| [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting) | 在方法请求中将该参数 `cancel_reason_id` 和 `posting_number` 标记为必填。 |\n| [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) | 在方法请求中将该参数 `posting_number`，`products`，`products.product_id`，`products.exemplars`
[...]
