{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Seller API Documentation",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "contact": null,
    "description": "The document describes the methods of the Ozon Seller API used when working with Ozon Marketplace.\n\nIf you have any questions about Seller API methods, contact our support team via your seller's profile.\n\n> [Marketplace knowledge base](https://seller-edu.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Description",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "OAuth-token",
        "Environment",
        "Process"
      ]
    },
    {
      "name": "Basic Methods",
      "tags": [
        "APIkey",
        "SellerInfo",
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "BrandAPI",
        "CertificationAPI",
        "WarehouseAPI",
        "FBSWarehouseSetup",
        "FBS",
        "PolygonAPI",
        "FBO",
        "FboSupplyRequest",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "ReturnAPI",
        "RFBSReturnsAPI",
        "CancellationAPI",
        "ChatAPI",
        "SupplierAPI",
        "ReportAPI",
        "AnalyticsAPI",
        "FinanceAPI",
        "Receipt",
        "SellerRating",
        "Digital"
      ]
    },
    {
      "name": "Beta Methods",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Quants",
        "ReviewAPI",
        "Questions&Answers",
        "SellerActions",
        "PromosBeta",
        "Notification",
        "DeliveryFBPDraft",
        "DraftDirectFBP",
        "DraftDropOffFBP",
        "DraftPickupFBP",
        "OrderDirectFBP",
        "OrderDropOffFBP",
        "OrderPickupFBP",
        "DeliveryFBP"
      ]
    },
    {
      "name": "Premium Methods",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "Ozon Delivery",
      "tags": [
        "OzonLogistics",
        "CancelReasonAPI",
        "DeliveryAPI",
        "OrderAPI",
        "FboPostingAPI"
      ]
    },
    {
      "name": "Errors",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "Push Notifications",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "News",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-display-name": "Introduction",
      "description": "### What is Ozon Seller API\n\nOzon Seller API is a software interface for working with the Ozon marketplace and exchanging information between the seller's system and Ozon.\n\nSeller API methods allow you to change store data, such as product stocks and prices, and retrieve data, such as information about returns or a list of warehouses.\n\nWorking with the API consists of sending a request and receiving a response. To do this, you can use [Postman](https://www.postman.com/), the **Console** tab above the method description, or set up integration with accounting systems, such as 1C, ERP or MoySklad.\n\n### When the Seller API is useful\n\nOnce you integrate the seller's accounting system with the Seller API, you can update and receive data automatically. This helps to keep prices and stocks information up-to-date, process more orders in less time, and eliminate errors caused by manual data updates.\n\nFor example, you need to update stocks or prices information for 100 products. To do this using your personal account,\nyou need to manually change the data on each product card.\n\nHowever, you can update stock information for 100 products with one request using the [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) method, and the [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) method allows you to update their prices.\n\n### What you can do using Seller API features\n\n- Upload and update products.\n- Manage prices and product stocks.\n- Get information about product returns.\n- Manage FBO, FBS and rFBS orders.\n- Manage chats.\n- Work with invoices.\n- Receive financial and analytical information.\n- Download Ozon attributes and characteristics.\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "Getting Started",
      "description": "<aside class=\"warning\">\nFrom May 16, 2025, you can only access Seller API back-to-back. Direct browser requests will be prohibited and blocked with the CORS policy error.\n</aside>\n\n<br>\n\n<aside class=\"warning\">\nIf the offer is outdated, access to the Seller API is restricted. You'll receive the <code>403 Offer not signed</code> error.\nTo regain access, accept the offer.\n\n[Learn more about accepting the offer](https://global-help.ozon.com/en/launch/steps/step-2/)\n</aside>\n\nBefore you start working with the Ozon Seller API:\n\n1. Explore Ozon processes in the [Help Center](https://global-help.ozon.com/en/) and your [personal account](https://seller.ozon.ru/app/signin?locale=en).\n2. Choose the processes you want to automate and compare them to your company's processes.\n3. Read the Seller API documentation and develop an integration scheme.\n\nTo work with the Seller API, you need an API key. Learn more in the [Authorization](#tag/Auth) section.\n\nSeller API works in UTC time. Keep this in mind when sending requests and receiving responses with dates and times.\n\nThe process of working with the Seller API can be divided into the following blocks:\n- working with the attribute tree,\n- uploading and updating products,\n- managing prices,\n- managing product stocks,\n- managing FBO orders,\n- managing FBS and rFBS orders,\n- working with invoices,\n- getting financial information,\n- getting analytical information,\n- managing returns,\n- managing chats.\n"
    },
    {
      "name": "Auth",
      "x-displayName": "Authorization via API Key",
      "description": "<br>\n<aside class=\"warning\">API keys are stored in your personal account in a concealed form. You will see the API key only when creating it. Save it in a safe place or pass it to your systems immediately.\n\nYou cannot access unsaved API keys. Create a new key to continue working with the API.\n\nOzon can revoke the key if it detects suspicious activity or excessive load on its systems.\n</aside>\n \n\n## How to access the Seller API\n\n1. Sign up at the [Ozon Seller](https://seller.ozon.ru/app/signup?locale=en). Learn more about signing up in the [Help Center](https://global-help.ozon.com/en/launch/steps/step-1/).\n2. Accept the offer.\n3. Get an API key.\n\n## How to get an API key\n\n<aside class=\"warning\">\n<b>Keep your API key confidential</b>  \n\nAPI queries change the data in your store on Ozon. If any third party has access to the key, they will be able to manage your store.\n\n</aside>\n\nTo get an API key:\n1. In your personal account go to [**Settings → Seller API**](https://seller.ozon.ru/app/settings/api-keys?locale=en).\n2. Click **Generate key**.\n3. Add a name for the key and select its access level.\n4. Select the key purpose:\n   - for personal use;\n   - for an external service or application: enter the service name for which the key is issued.\n5. Click **Generate**.\n\n<aside class=\"warning\">\nThe key is valid for 6 months. When it expires, generate a new key in your personal account.\n</aside>\n\nGet the key expiration date in the `expires_at` parameter of the [/v1/roles](#operation/AccessAPI_RolesByToken) method.\n\nYou can create several API keys, for example, if you have several users with different access levels.\n\n### Edit API key\n\nIf you want to change allowed networks for the key, select it from the [API keys list](https://seller.ozon.ru/app/settings/api-keys) and click <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">.\nMake your changes and click **Refresh**.\n\n## If your API key is compromised\n\n1. In your personal account go to [**Settings → Seller API**](https://seller.ozon.ru/app/settings/api-keys?locale=en).\n2. Delete the current API key and create a new one.\n"
    },
    {
      "name": "OAuth-token",
      "x-displayName": "Authorization via OAuth Token",
      "description": "To obtain an OAuth token for Seller API, create a [private](https://docs.ozon.ru/api/applications/#section/Rabota-s-chastnym-prilozheniem) \nor [public](https://docs.ozon.ru/api/applications/#section/Rabota-s-publichnym-prilozheniem) application and grant it \naccess to your personal account. Then you get an OAuth token to work with Seller API methods.\n\nUse the OAuth token with Seller API methods according to the access levels assigned to your application.\n\nExample request:\n\n```json\nPOST https://api-seller.ozon.ru/{Seller API method endpoint}\nAuthorization: Bearer ACCESS_TOKEN\n```"
    },
    {
      "name": "Environment",
      "x-displayName": "Environment",
      "description": "## What is the production environment\n\nThe production environment is your store at Ozon. All requests sent, except for informational ones, can change the data in your personal account and on the Ozon website.\n\n- **Production environment**: api-seller.ozon.ru\n\nYou can see the created products at the link of the following format: https://www.ozon.ru/context/detail/id/SKU, where “SKU” should be replaced with the value for the created product.\n\n## Request format\n\n```http\n GET / HTTP/1.1\n Host: api-seller.ozon.ru\n Client-Id: <Client-Id>\n Api-Key: <Api-Key>\n Content-Type: application/json\n```\n\nTo make sure that the request format is correct, use [Postman](http://postman.com) or the **Console** tab above the method description."
    },
    {
      "name": "Process",
      "x-displayName": "Methods Workflow",
      "description": "<br><aside class=\"warning\">If you or someone under your name performs identical or erroneous requests,\nwe can restrict access to Seller API without warning. <br><br> You can send a maximum of 50 requests per second to all methods from a single Client ID. </aside>\n\n# Downloading Ozon attributes and characteristics\n\n<br><aside class=\"warning\">To make the methods for working with products function correctly, compare your and Ozon categories and characteristics.\n\nIf in the [/v3/product/import](#operation/ProductAPI_ImportProductsV3) method you pass values not from the Ozon directory, the product won't be created or updated.</aside>\n\n1. Get the list of categories and types in a tree view and use the value from the last level of the selected category: [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree).\n\n2. Get characteristics for the selected category and type: [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes).\n\n3. Get a list of values for the selected characteristic: [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues).\n\n# Uploading and updating products\n\nAfter comparing your attributes and characteristics with the Ozon attribute model, you can start uploading products:\n\n1. Upload products and services: [/v3/product/import](#operation/ProductAPI_ImportProductsV3). This method also\n   allows you to update already uploaded products. The request sets the primary price and uploads product images.\n   You can send up to 100 products in one request. Images should be uploaded as direct links to the cloud storage, where they are stored.\n\n   The method output is a `task_id`, the product upload task identifier.\n\n2. Check the `task_id` that you received while uploading products: [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo). The method will return information whether the products were uploaded successfully or there was an error during import.\n\n    If the response contains the `moderating` status, wait for the moderation results and check the product status again. Moderation usually takes less than one day.\n\n3. Get a list of products created after uploading products: [/v3/product/list](#operation/ProductAPI_GetProductList).\n\n   The method allows you to use filters to divide products into groups by visibility status or track their status changes\n   using the product identifier.\n\n   The method returns a pair of `offer_id` and `product_id` values. They are needed in almost all queries for identifying the product with which the action will be performed. If you have uploaded products via template, use this method to\n   get the `offer_id` and `product_id` in order to work with products via API in the future.\n\n## Uploading and updating product images\n\nTo add product images or replace existing ones, use:\n\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures): upload or update product images. Pass direct links to images uploaded to the cloud storage.\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2): check the uploading status.\n\n## Updating products\n\nTo update both product information and its characteristics, use the [/v3/product/import](#operation/ProductAPI_ImportProductsV3) method.\n\nIf you only need to update the product characteristics, use the [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes) method. The method allows you to add additional information about a product to make its PDP more complete.\n\n## Getting products information\n\n- Get product details, for example barcode, main offer price, category identifier, commission, or moderation errors: \n  [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList). Use filters from the [/v3/product/list](#operation/ProductAPI_GetProductList) method to get a list for all products \n  in bulk or by category.\n\n- Get a product characteristics description: [/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4).\n\n- Get the product name and description: [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription).\n\n- Get information about the markdown and the main product by the markdown product SKU: [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted).\n\n## Deleting or archiving products\n\n1. Delete a product if it was uploaded with an error and got into the archive without an SKU: [/v2/products/delete](#operation/ProductAPI_DeleteProducts). \n   Products that have successfully passed moderation and received an SKU cannot be deleted from the archive.\n\n2. Move a product into the archive: [/v1/product/archive](#operation/ProductAPI_ProductArchive). Reset the product stocks to zero before archiving it.\n\n3. Get a product back from the archive: [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive).\n\nThe product will go on sale only when you set its stocks.\n\n## Services management\n\nUpload activation codes for services and digital products: [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode).\n\n# Uploading quality certificates\n\n## Information about certificates\n\n- Get a certificate types list: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n- Get the list of categories subject to certification: [/v2/product/certification/list](#operation/ProductAPI_ProductCertificationList).\n- Get a certificate statuses list: [/v1/product/certificate/status/list](#operation/CertificateStatusList).\n- Get a accordance types list: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n- Get a list of certificate rejection reasons: [v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList).\n- Get your certificates: [v1/product/certificate/list](#operation/CertificateList), using filters:\n   - certificate type `type`—value `value` from the [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes) method response;\n   - certificate status `status`—value `code` from the [v1/product/certificate/status/list](#operation/CertificateStatusList) method response.\n\n## Working with products associated with a certificate\n\nFor binding a certificate to a product:\n1. Get a list of brands that require a certificate: [/v1/brand/company-certification/list](#operation/ProductAPI_ProductCertificateBind).\n   The response contains brands whose products are added in your seller account.\n   The brands list may change if Ozon receives a requirement from the brand to provide a certificate.\n2. Add a product certificate: [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate).\n3. Bind a certificate to a product: [/v1/product/certificate/bind](#operation/ProductAPI_ProductCertificateBind).\n\nTo get a list of products associated with a certificate, use the [v1/product/certificate/products/list](#operation/CertificateProductsList) method.\nIf you need to get a list of products with a certain status, in the `status` parameter, pass the `code` value from the [v1/product/certificate/product_status/list](#operation/ProductStatusList) method response.\n\nTo unbind a product from a certificate, use the [/v1/product/certificate/products/unbind](#operation/CertificateUnbind) method.\n\n## Certificate status management\n\nTo get the attributes for managing a certificate:\n1. Get a certificate types list: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n2. Get a accordance types list: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nTo create a certificate, use the [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate) method, by passing in the request:\n- certificate type `type_code`—value `value` from the [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes) method response;\n- accordance type `accordance_type_code`—value `code` from the [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes) method response.\n\nTo delete a certificate, use the [/v1/product/certificate/delete](#operation/CertificateDelete) method.\n\n# Updating prices and product stocks\n\nAfter uploading the products for the FBS and rFBS schemes you can proceed to updating the stocks. For the FBO scheme, the stocks are updated\nautomatically once the product is sold.\n\nTo update the stocks, use the [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) method. \nWhen using this method, specify the identifier of the warehouse for which you want to change the stocks.\n\nTo get information on the stock quantity for FBO, FBS, rFBS, and FBP, use the [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) method.\n\nTo get information on the stock quantity for FBS and rFBS, use the [v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) method.\n\nTo update prices by products without making changes to the product cards, use the [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) method.\n\nThe method allows you to update the price:\n\n- before discounts,\n- for customers with an Ozon Premium subscription,\n- on the product card, taking discounts into account,\n- minimum product price with all special offers applied.\n\n<aside class=\"warning\">\nThe product price can become lower than the minimum price if you apply different types of special offers to the same product.\n</aside>\n\nTo get information on product prices, commissions, and discounts, use the [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) method.\n\n## Reserve products\n\nIf legal entities order products, payment may not arrive immediately. Such products are automatically reserved.\nTo check the stock, use [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3), or [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\nIf `is_legal = true` is in the response, there are reserved products in the stock.\nYou can update the stock so that the new number of products is greater than the available stock and reserved products in total.\nThe system will deduct the old stock and calculate the new one.\n\nTo check if a product is reserved, use the [/v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs) or [/v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks) methods.\n\n[Learn more about stock management](https://global-help.ozon.com/en/fulfillment/stock/)\n\n# Participate in Ozon special offers\n\nTo promote products, participate in special offers that Ozon runs for customers:\n\n- Get a list of available special offers: [/v1/actions](#operation/Promos).\n\n- Get a list of products that can participate in a special offer: [/v1/actions/candidates](#operation/PromosCandidates).\n\n- Add products to a special offer: [/v1/actions/products/activate](#operation/PromosProductsActivate).\n\n- Get a list of eligible products: [/v1/actions/products](#operation/PromosProducts).\n\n- Remove products from a special offer: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\n\nCustomers can ask you for a discount on a product.\nTo get a list of products that customers want to buy at a discount, use the method\n[/v1/actions/discounts-task/list](#operation/promos_task_list).\nRequests in statuses `NEW` or `SEEN` you can:\n- approve—use the [/v1/actions/discounts-task/approve](#operation/promos_task_approve) method,\n- decline—use the [/v1/actions/discounts-task/decline](#operation/promos_task_decline) method.\n\n[Learn more about Ozon special offers in the Seller knowedge base](https://global.ozon.ru/en/docs/promotion/promo.html).\n\n# Working with seller special offers\n\n- Create a special offer:\n  - [/v1/seller-actions/create/discount](#operation/SellerActionsCreateDiscount): with the \"Discount\" mechanics;\n  - [/v1/seller-actions/create/discount-with-condition](#operation/SellerActionsCreateDiscountWithCondition): with the \"Discount of order amount\" mechanics;\n  - [/v1/seller-actions/create/installment](#operation/SellerActionsCreateInstallment): with the \"Interest-free installment\" mechanics;\n  - [/v1/seller-actions/create/multi-level-discount](#operation/SellerActionsCreateMultiLevelDiscount): with the \"Multi-level discount from the amount\" mechanics;\n  - [/v1/seller-actions/create/voucher](#operation/SellerActionsCreateVoucher): with the \"Discount by promo code\" mechanics.\n- Edit the special offer:\n  - [/v1/seller-actions/update/discount](#operation/SellerActionsUpdateDiscount): with the \"Discount\" mechanics;\n  - [/v1/seller-actions/update/discount-with-condition](#operation/SellerActionsUpdateDiscountWithCondition): with the \"Discount of order amount\" mechanics;\n  - [/v1/seller-actions/update/installment](#operation/SellerActionsUpdateInstallment): with the \"Interest-free installment\" mechanics;\n  - [/v1/seller-actions/update/multi-level-discount](#operation/SellerActionsUpdateMultiLevelDiscount): with the \"Multi-level discount from the amount\" mechanics;\n  - [/v1/seller-actions/update/voucher](#operation/SellerActionsUpdateVoucher): with the \"Discount by promo code\" mechanics.\n- [/v1/seller-actions/list](#operation/SellerActionsList): get a list of created special offers.\n- [/v1/seller-actions/products/candidates](#operation/SellerActionsProductsCandidates): get a list of products that can participate in the special offer.\n- [/v1/seller-actions/products/add](#operation/SellerActionsProductsAdd): add products to the special offer.\n- [/v1/seller-actions/products/list](#operation/SellerActionsProductsList): get a list of products that participate in the special offer.\n- [/v1/seller-actions/products/delete](#operation/SellerActionsProductsDelete): remove products from the special offer.\n- [/v1/seller-actions/voucher/get](#operation/SellerActionsVoucherGet): get a list of promo codes for the special offer with the \"Discount by promo code\" mechanics.\n- [/v1/seller-actions/change-activity](#operation/SellerActionsChangeActivity): enable or disable the special offer.\n- [/v1/seller-actions/archive](#operation/SellerActionsArchive): archive the special offer.\n\n[Learn more about seller special offers in the Seller knowledge base](https://global-help.ozon.com/en/promotion/promotions/seller-promotions/)\n\n# Setting pricing strategies\n\nPricing strategies is a tool for automatic change of product price according to the prices of similar products in other online stores and marketplaces.\n\nTo set pricing strategies:\n\n1. Get a list of competitors: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\n\n2. Get a list of pricing strategies: [/v1/pricing-strategy/list](#operation/pricing_list).\n\n3. Create your own strategy: [/v1/pricing-strategy/create](#operation/pricing_create) and set coefficients to increase or decrease product price compared to other online stores and marketplaces.\n   To get information about a strategy, use the [/v1/pricing-strategy/info](#operation/pricing_info) method.\n\n4. Bind products to a strategy: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\n\n   You can bind products:\n   - If you set a minimum price for them via [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) method.\n     To check the price, use the [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices) method.\n   - If they aren't bounded to another strategy.\n     To check product binding, use the [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids) method.\n\n   Use the [/v1/pricing-strategy/products/list](#operation/pricing_items-list) method to get a list of products that are bounded to the strategy, and the [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete) method to remove products from the strategy.\n\n7. Enable or disable the strategy: [/v1/pricing-strategy/status](#operation/pricing_status).\n\nTo change a list of selected competitors and a strategy name, use the [/v1/pricing-strategy/update](#operation/pricing_update) method.\n\nTo delete a strategy, use the [/v1/pricing-strategy/delete](#operation/pricing_delete) method.\n\n# Getting warehouses details\n\n- Get a rFBS warehouse methods list: [/v2/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodListV2).\n\n- Get a warehouse list: [/v2/warehouse/list](#operation/WarehouseListV2).\n\n# Working with FBS warehouses\n\n## Create new warehouse\n\n1. Get a list of drop-off points and select one to create a warehouse: [/v1/warehouse/fbs/create/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForCreateFBSWarehouse).\n2. Send a request to create a new warehouse: [/v1/warehouse/fbs/create](#operation/WarehouseAPI_CreateWarehouseFBS).\n3. Get the operation status: [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus).\n4. Get details about the warehouse by the `warehouse_id` parameter: [/v2/warehouse/list](#operation/WarehouseListV2).\n\n## Update warehouse settings\n\n1. Send a request to update the warehouse settings: [/v1/warehouse/fbs/update](#operation/WarehouseAPI_UpdateWarehouseFBS).\n2. Get the operation status: [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus).\n\n## Update warehouse first mile\n\n1. Get a list of drop-off points and select one to update details about the warehouse: [/v1/warehouse/fbs/update/drop-off/list](#operation/WarehouseAPI_ListDropOffPointsForUpdateFBSWarehouse).\n2. Send a request to update the first mile: [/v1/warehouse/fbs/first-mile/update](#operation/WarehouseAPI_UpdateWarehouseFBSFirstMile).\n3. Get the first mile update status: [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus).\n\n## Archive warehouse\n\n1. Move the warehouse to archive: [/v1/warehouse/archive](#operation/WarehouseAPI_ArchiveWarehouseFBS).\n2. Get the warehouse archiving status: [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus).\n\n## Remove warehouse from archive\n\n1. Remove the warehouse from the archive: [/v1/warehouse/unarchive](#operation/WarehouseAPI_UnarchiveWarehouseFBS).\n2. Get the warehouse unarchiving status: [/v1/warehouse/operation/status](#operation/WarehouseAPI_GetWarehouseFBSOperationStatus).\n\n\n# Managing FBO, FBS, rFBS, and FBP orders\n\nManage orders depending on your work scheme:\n- [FBO scheme](#section/Managing-FBO-FBS-and-rFBS-orders/FBO-scheme);\n- [FBS Standard scheme](#section/Managing-FBO-FBS-and-rFBS-orders/FBS-Standard-scheme);\n- [FBS PickUp scheme with trusted acceptance enabled](#section/Managing-FBO-FBS-and-rFBS-orders/FBS-PickUp-scheme-with-trusted-acceptance-enabled);\n- [Ozon Delivery](#section/Managing-FBO-FBS-rFBS-and-FBP-orders/Ozon-Delivery);\n- [rFBS Standard scheme](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-Standard-scheme);\n- [rFBS Express scheme with delivery to a pick-up point](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-Express-scheme-with-delivery-to-a-pick-up-point);\n- [rFBS scheme with delivery by the integrated service](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-scheme-with-delivery-by-integrated-service).\n\nIf you sell products from abroad, manage orders according to one of the schemes:\n- [rFBS Crossborder](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-Crossborder-scheme);\n- [rFBS Crossborder with delivery by the integrated service](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-Crossborder-scheme-with-delivery-by-integrated-service);\n- [rFBS Aggregator](#section/Managing-FBO-FBS-and-rFBS-orders/rFBS-Aggregator-scheme).\n\n[Learn more how to manage rFBS orders with products sold by weight](#section/Managing-FBO-FBS-and-rFBS-orders/How-to-work-with-products-sold-by-weight-(rFBS))\n\n## FBO scheme\n\nCheck Ozon warehouses workload before creating a supply request: [/v1/supplier/available_warehouses](#operation/SupplierAPI_SupplierAvailableWarehouses).\n\nTo get a list of shipments, financial and analytical information, use the [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) method.\nThis method also returns information about the sold activation codes linked to the shipment number.\n\nTo get information about a shipment, use the [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting) method.\n\n### Create a supply request\n\n1. Get information about clusters and their warehouses: [/v1/cluster/list](#operation/SupplyDraftAPI_DraftClusterList) or [/v2/cluster/list](#operation/DraftClusterList).\n2. Create a supply request draft:\n   - direct: [/v1/draft/direct/create](https://docs.ozon.ru/api/seller/#operation/DraftDirectCreate);\n   - cross-docking: [/v1/draft/crossdock/create](https://docs.ozon.ru/api/seller/#operation/DraftCrossdockCreate);\n   - for multiple clusters: [/v1/draft/multi-cluster/create](https://docs.ozon.ru/api/seller/#operation/DraftMultiClusterCreate).\n\n   If you choose cross-docking or supply for multiple clusters, select the delivery scheme:\n   - Drop-off: pass the `delivery_info.drop_off_warehouse.warehouse_id` and `delivery_info.drop_off_warehouse.warehouse_type` parameters. Get the parameter values using the [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList) method.\n   - Pick-up: pass the `delivery_info.seller_warehouse_id` parameter. Get the parameter value using the [/v1/warehouse/fbo/seller/list](https://docs.ozon.ru/api/seller/#operation/WarehouseFboSellerList) method.\n3. Get information about creating a supply request from a draft: [/v2/draft/create/info](https://docs.ozon.ru/api/seller/#operation/DraftCreateInfo).\n4. Get available supply time slots for final shipping warehouses: [/v2/draft/timeslot/info](https://docs.ozon.ru/api/seller/#operation/DraftTimeslotInfo). The maximum period is 28 days from the current date.\n5. Create the supply request from the draft: [/v2/draft/supply/create](https://docs.ozon.ru/api/seller/#operation/DraftSupplyCreate).\n6. Get the status of the supply request creating process: [/v2/draft/supply/create/status](https://docs.ozon.ru/api/seller/#operation/DraftSupplyCreateStatus). When the request is created, the method returns the supply requests identifiers.\n\n### Get supply request information\n\nTo supply products to Ozon warehouses, you need a supply request. It specifies what products and in what quantities you will supply.\n\n1. Get a list of supply requests: [/v3/supply-order/list](#operation/SupplyOrderList).\n2. Get the status of a supply request and the number of shipments in that status: [/v1/supply-order/status/counter](#operation/SupplyOrderAPI_SupplyOrderStatusCounter).\n3. Get information on a supply request: [/v3/supply-order/get](#operation/SupplyOrderGet).\n4. Get a list of products in the supply or request: [/v1/supply-order/bundle](#operation/SupplyOrderBundle).\n\nTo get to a warehouse, select a supply time slot and issue a driver and vehicle pass. To do this:\n1. Get a list of available supply time slots: [/v1/supply-order/timeslot/get](#operation/SupplyOrderAPI_GetSupplyOrderTimeslots).\n2. Change the selected time slot, if necessary: [/v1/supply-order/timeslot/update](#operation/SupplyOrderAPI_UpdateSupplyOrderTimeslot).\n3. Get the status of the assigned time slot: [/v1/supply-order/timeslot/status](#operation/SupplyOrderAPI_GetSupplyOrderTimeslotStatus).\n4. Add driver and vehicle details: [/v1/supply-order/pass/create](#operation/SupplyOrderAPI_SupplyOrderPassCreate).\n5. Get the status of driver and vehicle data entry: [/v1/supply-order/pass/status](#operation/SupplyOrderAPI_SupplyOrderPassStatus).\n\n## FBS Standard scheme\n\n1. Before you start working with shipments, get a list\n   of unprocessed shipments: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n    If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n    Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n    Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n    \n    The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n   can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Get the `exemplar_id` identifiers using the [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6) method.\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations and product batch registration numbers or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. Before packaging, make sure that the shipment meets the drop-off point restrictions. Get them by the shipment number using the [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions) method.\n\n5. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Confirm shipping and generate the waybill using [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) or create shipping with [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate), and confirm it with [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). The methods output is a document generation task identifier.\n\n7. Get the list of shipments for which acceptance, transfer certificate, and waybill are required: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) or [/v2/carriage/delivery/list](#operation/CarriageDeliveryListV2).\n\n8. Get information about the created shipping using the [/v1/carriage/get](#operation/CarriageGet) method.\n   The `available_actions` array contains information about available actions with the supply and the necessity to create a pass for access to the Ozon warehouse.\n\n   To create a pass, use the [/v1/carriage/pass/create](#operation/carriagePassCreate) method.\n   To pick up returns on the same car after the products delivery, pass the `with_returns = true` value.\n   You need a new pass for each supply.\n\n   To update or delete the pass, use the [/v1/carriage/pass/update](#operation/carriagePassUpdate) and [/v1/carriage/pass/delete](#operation/carriagePassDelete) methods.\n\n   To get the list of all passes, use the [/v1/pass/list](#operation/PassList) method.\n\n   [Learn more about issuing passes](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\n\n9. Check that the documents are created: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\n\n10. Once the document status changes to `ready`, get the acceptance and transfer certificate and waybill files: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n\n11. Print out a sticker for each shipment to identify it in the Ozon system: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n12. Get PDF documents: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n\nAfter that, you can take the shipments and documents to the pick-up point.\n\nIf the shipment has been handed over for delivery but has not been scanned at the sorting center, you can open a dispute: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration).\nAn open dispute will transfer the shipment to the `arbitration` status.\n\nIf customer opens a dispute, the shipment status will change to `client_arbitration`.\n\nTo track the status change once the shipment is found, use the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method with the necessary filters applied.\n\nTo handle dispute orders over to shipping, use the [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery) method.\nThe shipment status will change to `awaiting_deliver`.\n\n### Working with economy products\n\n1. Create economy products in your [personal account](https://seller.ozon.ru/app/econom/products).\n2. Get identifiers of MOQs with created products: [/v1/product/quant/list](#operation/QuantProductList).\n\n[Learn more about economy products in the Seller Knowledge Base](https://seller-edu.ozon.ru/tarif-ekonom)\n\n### How to cancel a shipment\n\n1. Use the [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) method at any stage\n   of shipment processing to get a list of shipment cancellation reasons.\n\n2. Pass this list and the shipment number: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nTo cancel selected products from a shipment, use the [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) method.\n\nIf customer cancels shipments, their status will change to `canceled`.\n\n## FBS scheme with electronic waybills\n\n### Working with shipments\n\n1. Get the list of unprocessed shipments: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) or [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList). \n   In the response, check:\n   - `is_blr_traceable`: product traceability attribute;\n   - `require_blr_traceable_attrs = true`: if you have to fill out traceability attributes;\n   - `split_before_ship = true`: if you have to split the order.\n   \n2. Filter traceable shipments using the `is_blr_traceable = true` filter: [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n\n3. If the order is traceable, split it: [/v1/posting/fbs/traceable/split](#operation/PostingFbsTraceableSplit).\n\n4. Check if you need to fill out traceability attributes: [/v1/posting/fbs/product/traceable/attribute](#operation/PostingFbsProductTraceableAttribute).\n\n5. If attributes are required, specify them in the PDP in your account or via API:\n   - product quantity in measurement units;\n   - GTIN barcode.\n\n6. Pass product items and pack the shipment: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4).\n\n### Working with shippings\n\n1. Get a list of zero shippings: [/v2/carriage/delivery/list](#operation/CarriageDeliveryListV2). Traceable shippings will have the `all_blr_traceable` parameter.\n\n2. Create shipping with traceable products: [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate). Specify the `is_blr_traceable = true` in the request.\n   \n   If a shipping point doesn't accept electronic waybills, you get the `BLR_TRACEABLE_PICKUP_NOT_ALLOWED` error.\n\n3. Get information about the created shipping: [/v1/carriage/get](#operation/CarriageGet). In the response, get the `all_blr_traceable` parameter.\n\n4. Create and upload an electronic waybill for verification via electronic document circulation (EDC).\n\n5. Get the electronic waybill status: [/v1/carriage/ettn/status](#operation/CarriageEttnStatus).\n\n6. Confirm shipping: [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). If electronic waybill verification fails, you get the `INCORRECT_E_WAYBILL_STATUS` error.\n\n7. Update product composition in shipping if needed: [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings). If electronic waybill verification fails, you get the `INCORRECT_E_WAYBILL_STATUS` error.\n\n## FBS PickUp scheme with trusted acceptance enabled\n\n1. Before you start working with shipments, get a list\n   of unprocessed shipments: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n      can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. Before packaging, make sure that the shipment meets the drop-off point restrictions. Get them by the shipment number using the [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions) method.\n\n5. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Confirm shipping and generate the waybill using [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) or create shipping with [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate), and confirm it with [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). The methods output is a document generation task identifier.\n\n7. Get the list of shipments for which acceptance, transfer certificate, and waybill are required: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) or [/v2/carriage/delivery/list](#operation/CarriageDeliveryListV2).\n\n8. Get PDF documents: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n\n9. When the document status has changed to `ready`, get the acceptance and transfer certificate and waybill files: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n\n10. Print out a sticker for each shipment to identify it in the Ozon system: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n11. Once you've packed all your shipments according to the [Trusted package unit acceptance requirements](https://seller-edu.ozon.ru/docs/fbs/ozon-logistika/doveritel-naya-priemka-gruzovogo-mesta.html#какие-требования-к-грузовому-месту), get labels for each package unit: [/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels).\n\nAfter that, you can transfer the package unit to the pick-up point.\n\nIf the shipment has been handed over for delivery but has not been scanned at the sorting center, you can open a dispute: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration).\nAn open dispute will transfer the shipment to the `arbitration` status.\n\nIf customer opens a dispute, the shipment status will change to `client_arbitration`.\n\nTo track the status change once the shipment is found, use the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method with the necessary filters applied.\n\nTo handle dispute orders over to shipping, use the [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery) method.\nThe shipment status will change to `awaiting_deliver`.\n\n## Ozon Delivery\n\n### Delivery\n\n1. Check if the customer can receive orders via Ozon: [v1/delivery/check](#operation/DeliveryCheck). Delivery methods for Ozon Delivery:\n   - Pick-up if the customer receives products at a pick-up point.\n   - Courier delivery if Ozon delivers the products to the specified address.\n\n   If the delivery method is pick-up, pass the pick-up point identifier to the `pickup` parameter.\n   For courier delivery, pass the receiving address and coordinates to the `courier` parameter.\n\n2. Mark the points on the map from which customers can pick up orders: [v1/delivery/map](#operation/DeliveryMap).\n3. Get a list of pick-up points: [v1/delivery/point/list](#operation/DeliveryAPI_DeliveryPointList).\n4. Get pick-up point details: [/v1/delivery/point/info](#operation/DeliveryPointInfo).\n5. Check product availability and delivery time: [/v2/delivery/checkout](#operation/DeliveryCheckout).\n\nAllow customers to choose the delivery method and delivery point at the checkout or in the cart.\nIf it's impossible, cache the data on your side to reduce the load and optimize the number of API requests.\n\n### Order processing\n\nCreate an order in the Ozon system only after the customer pays for it.\n\n1. Create an order and start packing it: [v2/order/create](#operation/OrderAPI_OrderCreate). You can't change the order after calling the method.\n2. Track all shipments or a specific one: [v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) and [v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n3. Get the item labels from the shipment: [v1/posting/marks](#operation/PostingAPI_PostingMarks). Pass only those shipments that you created using Ozon Delivery methods.\n\n### Shipment tracking\n\nFor the FBO scheme:\n- Get a list of all shipments: [v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList).\n- Get details about a specific shipment: [v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting).\n\nFor the FBS scheme:\n- Get a list of unprocessed shipments: [v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n- Get shipment list: [v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n- Get shipment details: [v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\nIf the customer rejects one of the products upon receipt of the shipment, it remains in the \"Delivered\" status. Use [v1/returns/list](#operation/returnsList) to get details on a return with an unpurchased product. The type of this return is `type: PartialReturn`.\n\n### Order or shipment cancellation\n\nYou can cancel orders that were created using the Ozon Delivery methods if:\n- Ozon canceled the order before it arrived at the pick-up point or before delivery to the customer.\n- The customer refused the whole order or its part upon receipt.\n- The customer requested order cancellation through the seller's website or app. The customer can't cancel the order via Ozon account.\n\n<aside class=\"warning\">\nRefund the money to the customer only when the cancellation is confirmed.\n</aside>\n\nTo cancel an order or its part:\n- Get possible reasons for order cancellation: [/v1/cancel-reason/list-by-order](#operation/CancelReasonListByOrder).\n- Get a list of available reasons for shipment cancellation: [/v1/cancel-reason/list-by-posting](#operation/CancelReasonAPI_CancelReasonListByPosting). Use this method only if the customer requested order cancellation.\n- Check if the order can be canceled: [v1/order/cancel/check](#operation/OrderAPI_OrderCancelCheck).\n- Cancel the order: [v1/order/cancel](#operation/OrderAPI_OrderCancel).\n- Cancel the shipment from the order: [v1/posting/cancel](#operation/PostingAPI_PostingCancel).\n- Check order cancellation status: [v1/order/cancel/status](#operation/OrderAPI_OrderCancelStatus).\n- Check shipment cancellation status: [v1/posting/cancel/status](#operation/PostingAPI_PostingCancelStatus).\n\nTo cancel FBS shipments:\n- Cancel shipping of some products in the shipment: [v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n- Cancel the shipment: [v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\n### Product return\n\nTrack the product return status: [v1/returns/list](#operation/returnsList).\nUse the method if the customer canceled the order during shipping or refused it upon receipt. Seller manages returns from customers on their own.\nIf the customer picked up the product and then decided to return it, they should contact the seller.\n\nIf a customer refuses one of the products upon shipment receipt, it remains in the \"Delivered\" status.\nThe system creates a new shipment with the \"Canceled\" status and the `PartialRefund` cancellation type.\nTo get information about it, use the [v1/returns/list](#operation/returnsList) method.\n\n### Stock\n\n- Get a report on the stock in Ozon warehouses to plan the product supply: [v1/analytics/stocks](#operation/AnalyticsAPI_AnalyticsStocks).\n- Show customers the quantity of products in Ozon warehouses: [v4/product/info/stocks](#operation/ProductAPI_GetProductInfoStocks).\n\nIf there aren't enough products in Ozon warehouses, you can't create an order using the Ozon Delivery methods.\n\n## rFBS Standard scheme\n\n<aside class=\"warning\">\nStarting March 11, 2024, the maximum delivery time to the customer is 30 days.\nUpdate the delivery period in your method settings. \nIf the period exceeds the limit, it'll be updated automatically. \n</aside>\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n   \n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n   If `set_cutoff` is specified in the `available_actions` parameter, specify the shipping date of the shipment using the [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff) method.\n   Do this no later than the date specified in the `shipment_date` parameter in the methods:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) or [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   After the `shipment_date` passes, you can't specify the shipping date and pack the shipment.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   For example, a delivery address.\n\n   The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n      can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   If you sell products by weight and the `result.products.is_weight_needed` parameter for a product is `true`,\n   pass its weight information via the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nAfter you packaged the order, contact the customer to agree on a delivery date.\nIf the customer asks to reschedule the delivery, you can do it: [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot).\nGet information about the dates and the number of times available for delivery reschedule: [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions).\n\nHand the shipment over to the courier:\n\n1. Once the courier has picked up the shipment, change the shipment status to `delivering`: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n    <aside class=\"notice\">\n    If you don't make a route schedule, and the courier heads straight to the customer, you can change the shipment \n    status from <code>delivering</code> to <code>last mile</code> straight away: <a href=\"#operation/PostingAPI_FbsPostingLastMile\">/v2/fbs/posting/last-mile</a>.\n    </aside>\n\n   Along with this pass the shipment track number: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n2. When courier is on the way to the customer, change the shipment status to `last mile`: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n3. Once courier has handed the shipment over to the customer, change the status to `delivered`: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n### How to cancel a shipment\n\n1. Use the [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) method at any stage\n   of shipment processing to get a list of shipment cancellation reasons.\n\n2. Pass this list and the shipment number: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nTo cancel selected products in a shipment, use the [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) method.\n\nIf customer cancels shipments, their status will change to `cancelled`.\n\n## rFBS Express scheme with delivery to a pick-up point\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   The `requirements` block contains the following information:\n   - which products are subject to mandatory labeling;\n   - whether the cargo customs declaration and product batch registration number should be passed: this information\n     can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n     [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. \n   If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: \n   - to get the product item statuses use [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n   - to get data about created items use [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6).\n\n4. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). \n   You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. \n   For example, if there are several products in an order, and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Print out a sticker for the shipment to identify it in the Ozon system: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n6. Hand the shipment over to the courier.\n\nShipment statuses will change automatically:\n1. `on_way_to_city`—the courier picked up the shipment.\n2. `on_way_to_pickup_point`—the courier takes the order to the pick-up point.\n3. `in_pickup_point`—the shipment is at the pick-up point.\n4. `delivered`—the customer picked up the shipment from the pick-up point.\n\nTo get a shipment status, use the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n\n### How to cancel a shipment\n\n1. Use the [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) method at any stage\n   of shipment processing to get a list of shipment cancellation reasons.\n\n2. Pass this list and the shipment number: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nTo cancel selected products in a shipment, use the [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) method.\n\nIf customer cancels shipments, their status will change to `cancelled`.\n\n## rFBS scheme with delivery by integrated service\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   For example, a delivery address.\n\n   The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n      can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system:  [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n4. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nHand the shipment over to delivery service. All statuses from \"Delivering\" to \"Delivered\" will be passed by the delivery service.\n\n### How to cancel a shipment\n\n1. Use the [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) method at any stage\n   of shipment processing to get a list of shipment cancellation reasons.\n\n2. Pass this list and the shipment number: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nTo cancel selected products in a shipment, use the [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) method.\n\nIf customer cancels shipments, their status will change to `canceled`.\n\n## rFBS Aggregator scheme\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   For example, a delivery address.\n\n   The `requirements` block contains the following information:\n   - which products are subject to mandatory labeling;\n   - whether the cargo customs declaration and product batch registration number should be passed: this information\n     can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n     [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system:  [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. If the product in the shipment is packed in several boxes, pass the number of them: [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3).\n\n5. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_registration`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. When the carrier processes the shipment, its status will change from `awaiting_registration` to `awaiting_delivery`. A tracking number will then be assigned for the shipment.\n\n   Print out a sticker for each shipment to identify it in the Ozon system: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\nHand the shipment over to delivery service. All statuses from \"Delivering\" to \"Delivered\" will be passed by the delivery service.\n\nIf you sell from Turkey and need the Elektronik Ticaret Gümrük Beyannamesi (ETGB) declarations for tax refund,\nget declaration forms: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\n\n### How to cancel a shipment\n\n1. Use the [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) method at any stage\n   of shipment processing to get a list of shipment cancellation reasons.\n\n2. Pass this list and the shipment number: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nTo cancel selected products in a shipment, use the [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct) method.\n\nIf customer cancels shipments, their status will change to `cancelled`.\n\n## rFBS Crossborder scheme\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n   If `set_cutoff` is specified in the `available_actions` parameter, specify the shipping date of the shipment using the [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff) method.\n   Do this no later than the date specified in the `shipment_date` parameter in the methods:\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) or [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   After the `shipment_date` passes, you can't specify the shipping date and pack the shipment.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   For example, a delivery address.\n\n   The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n      can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system: [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n   \n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. After the shipment has been transferred to the delivery service, change the status of the shipment to `delivering`: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n6. At the same time, if the shipment has a tracking number, pass it to the system: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet). \n\n7. When courier is on the way to the customer, change the shipment status to `last mile`: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n8. Once courier has handed the shipment over to the customer, change the status to `delivered`: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n## rFBS Crossborder scheme with delivery by integrated service\n\n1. Before you start working with shipments, get a list of unprocessed orders (shipments):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   If the customer is a legal entity, the `requirements` block contains information about the necessity to pass manufacturer country for all items in the order for which it is not specified.\n   Get a list of available countries: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2).\n   Pass the information about the manufacturer country: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   You can also get a list of orders (shipments) using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) method.\n   It allows you to get all orders using filters with different statuses. You can also get analytics data\n   if you send the `with` field  with the `analytics_data` value.\n\n   Shipments may come in `awaiting_packaging`, `awaiting_approve`, or `awaiting_verification` statuses.\n\n2. Get more information on orders if necessary: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   For example, a delivery address.\n\n   The `requirements` block contains the following information:\n    - which products are subject to mandatory labeling;\n    - whether the cargo customs declaration and product batch registration number should be passed: this information\n      can also be obtained using the [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) and\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) methods.\n\n   You also can get extra information by barcode: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Check that the labeling codes meet the length and character requirements of the “Chestny ZNAK” system:  [/v5/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidateV5).\n\n   Using the [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method, add a label for each exemplar that you'll submit to the\n   “Chestny ZNAK” system. If necessary, pass the numbers of customs declarations or indicate that there is no such data.\n\n   [Learn more about “Chestny ZNAK” label in the Seller Knowledge Base](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Get labeling transfer statuses: [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n\n4. Once you've packaged your order, confirm it before the packaging time ends: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). You can't package the order if:\n   - its status differs from `awaiting_packaging`;\n   - you haven't specified labeling codes for products that are subject to a mandatory labeling.\n\n   If necessary, use this method to divide the order into several shipments. For example, if there are several products in an order,\n   and they need to be packed in different boxes, since in combination they do not meet the packaging requirements.\n\n   After applying this method, the shipment status will change to `awaiting_deliver`.\n\n   You can use the partial order package method: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Print out a sticker for each shipment to identify it in the Ozon system: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\nHand the shipment over to delivery service. All statuses from \"Delivering\" to \"Delivered\" will be passed by the delivery service.\n\n## How to work with products sold by weight (rFBS)\n\nBefore moving an order with products sold by weight to the `awaiting_delivery` status, pass the product weight data.\nTo do this, after weighing the products prior to packing, pass the weight information for each product item via the\n[/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method.\n\nThe [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6) method\nreturns the following errors:\n- `WEIGHT_IS_OUT_OF_RANGE`: if the passed weight is out of the acceptable range;\n- `WEIGHT_IS_REQUIRED`: if you haven't provided the product weight.\n\nIf the `result.products.is_weight_needed` parameter\nin the [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3) method is `true` for a product, weigh it.\n\nAfter passing the weight for each product item sold by weight,\nyou can move the order to the `awaiting_delivery` status.\n\nIf an order with products sold by weight contains unweighted products,\nthe [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4) method  \nreturns the `WEIGHT_IS_REQUIRED` error.\n\n## FBP Scheme\n\n### Direct Supply\n\n1. Get a list of partner warehouses: [/v1/fbp/warehouse/list](#operation/FbpWarehouseList).\n2. Validate products for partner warehouse acceptance: [/v1/fbp/draft/direct/product/validate](#operation/FbpDraftDirectProductValidate).\n3. Get time slots for direct supply: [/v1/fbp/draft/direct/timeslot/get](#operation/FbpDraftDirectGetTimeslot).\n4. Select the delivery method:\n\n   <details>\n   <summary>Delivery by seller</summary>\n\n   • Create a supply request draft: [/v1/fbp/draft/direct/seller-dlv/create](#operation/FbpDraftDirectSellerDlvCreate).<br>\n   • Edit the time slot in the draft: [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit).<br>\n   • Update seller delivery details in the draft: [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit).\n   </details>\n\n   <details>\n   <summary>Delivery by third-party</summary>\n\n   • Create a supply request draft: [/v1/fbp/draft/direct/tpl-dlv/create](#operation/FbpAPI_FbpDraftDirectTplDlvCreate).<br>\n   • Edit the time slot in the draft: [/v1/fbp/draft/direct/timeslot/edit](#operation/FbpDraftDirectTimeslotEdit).<br>\n   • Update third-party delivery details in the draft: [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit).\n   </details>\n\n<style>\ndetails {\n  margin-bottom: 10px;\n  border: 1px solid #ddd;\n  padding: 10px;\n  border-radius: 5px;\n}\nsummary {\n  cursor: pointer;\n  font-weight: bold;\n}\n</style>\n\n5. Get a list of drafts: [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList).\n6. Get draft details: [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet). If the draft has errors, delete it: [/v1/fbp/draft/direct/delete](#operation/FbpDraftDirectDelete).\n7. Get information about a supply's contents using `bundle_id`: [/v1/supply-order/bundle](#operation/SupplyOrderBundle).\n8. Register a draft request, so it becomes active: [/v1/fbp/draft/direct/register](#operation/FbpDraftDirectRegistrate).\n9. Get current warehouse time slots: [/v1/fbp/order/direct/timeslot/list](#operation/FbpAPI_FbpAvailableTimeslotList).\n10. Edit the supply time slot: [/v1/fbp/order/direct/timeslot/edit](#operation/FbpAPI_FbpEditTimeslot).\n11. Update seller or third-party delivery details: [/v1/fbp/draft/direct/seller-dlv/edit](#operation/FbpDraftDirectSellerDlvEdit) or [/v1/fbp/draft/direct/tpl-dlv/edit](#operation/FbpAPI_FbpDraftDirectTplDlvEdit).\n12. Get a list of supplies: [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList).\n13. Get details of a specific supply: [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet). If the supply request has errors, cancel it: [/v1/fbp/order/direct/cancel](#operation/FbpAPI_FbpOrderDirectCancel).\n14. Create a shipping label generation task: [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel).\n15. Get labels and their generation status: [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel).\n16. Create a waybill generation task: [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote).\n17. Get the waybill and its generation status: [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState).\n18. Create an acceptance certificate generation task: [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct).\n19. Get the certificate and its generation status: [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState).\n20. Get a list of completed supplies: [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList).\n21. Get details of a completed supply: [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet).\n\n### Drop-off Supply\n\n1. Get a list of partner warehouses: [/v1/fbp/warehouse/list](#operation/FbpWarehouseList).\n2. Validate products for partner warehouse acceptance: [/v1/fbp/draft/drop-off/product/validate](#operation/FbpDraftDropOffProductValidate).\n3. Get a list of provinces: [/v1/fbp/draft/drop-off/province/list](#operation/FbpDraftDropOffProvinceList).\n4. Get a list of drop-off points in a province: [/v1/fbp/draft/drop-off/point/list](#operation/FbpDraftDropOffPointList).\n5. Get the working schedule of a drop-off point: [/v1/fbp/draft/drop-off/point/timetable](#operation/FbpDraftDropOffPointTimetable).\n6. Create a draft for drop-off delivery: [/v1/fbp/draft/drop-off/create](#operation/FbpDraftDropOffCreate).\n7. Edit drop-off delivery details in the draft: [/v1/fbp/draft/drop-off/dlv/edit](#operation/FbpDraftDropOffDlvEdit).\n8. Get a list of drafts: [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList).\n9. Get details of a specific draft: [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet). If the draft has errors, delete it: [/v1/fbp/draft/drop-off/delete](#operation/FbpDraftDropOffDelete).\n10. Get information about a supply's contents using `bundle_id`: [/v1/supply-order/bundle](#operation/SupplyOrderBundle).\n11. Register a draft supply request, so it becomes active: [/v1/fbp/draft/drop-off/registrate](#operation/FbpDraftDropOffRegistrate).\n12. Get the working schedule of a drop-off point: [/v1/fbp/order/drop-off/timetable](#operation/FbpAPI_FbpOrderDropOffTimetable).\n13. Edit and pass drop-off delivery details: [/v1/fbp/order/drop-off/dlv/edit](#operation/FbpAPI_FbpOrderDropOffDlvEdit).\n14. Get a list of supplies: [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList).\n15. Get details of a specific supply: [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet). If the supply request has errors, cancel it: [/v1/fbp/order/drop-off/cancel](#operation/FbpAPI_FbpOrderDropOffCancel).\n16. Create a shipping label generation task: [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel).\n17. Get labels and their generation status: [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel).\n18. Create a waybill generation task: [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote).\n19. Get the waybill and its generation status: [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState).\n20. Create an acceptance certificate generation task: [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct).\n21. Get the certificate and its generation status: [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState).\n22. Get a list of completed supplies: [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList).\n23. Get details of a completed supply: [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet).\n\n### Pick-up Supply\n\n1. Get a list of partner warehouses: [/v1/fbp/warehouse/list](#operation/FbpWarehouseList).\n2. Validate products for partner warehouse acceptance: [/v1/fbp/draft/pick-up/product/validate](#operation/FbpAPI_FbpDraftPickUpProductValidate).\n3. Create a pick-up delivery draft: [/v1/fbp/draft/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit).\n4. Edit pick-up delivery details in the draft: [/v1/fbp/draft/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit).\n5. Get a list of drafts: [/v1/fbp/draft/list](#operation/FbpAPI_FbpDraftList).\n6. Get details of a specific draft: [/v1/fbp/draft/get](#operation/FbpAPI_FbpDraftGet). If the draft has errors, delete it: [/v1/fbp/draft/pick-up/delete](#operation/FbpAPI_FbpDraftPickUpDelete).\n7. Get information about a supply's contents using `bundle_id`: [/v1/supply-order/bundle](#operation/SupplyOrderBundle).\n8. Register a draft supply request, so it becomes active: [/v1/fbp/draft/pick-up/registrate](#operation/FbpDraftPickUpRegistrate).\n9. Edit pick-up point details: [/v1/fbp/order/pick-up/dlv/edit](#operation/FbpAPI_FbpOrderPickUpDlvEdit).\n10. Get a list of supplies: [/v1/fbp/order/list](#operation/FbpAPI_FbpOrderList).\n11. Get details of a specific supply: [/v1/fbp/order/get](#operation/FbpAPI_FbpOrderGet). If the supply request has errors, cancel it: [/v1/fbp/order/pick-up/cancel](FbpAPI_FbpOrderPickUpCancel).\n12. Create a shipping label generation task: [/v1/fbp/label/create](#operation/FbpAPI_FbpCreateLabel).\n13. Get labels and their generation status: [/v1/fbp/label/get](#operation/FbpAPI_FbpGetLabel).\n14. Create a waybill generation task: [/v1/fbp/act-to/create](#operation/FbpAPI_FbpCreateConsignmentNote).\n15. Get the waybill and its generation status: [/v1/fbp/act-to/get](#operation/FbpAPI_FbpCheckConsignmentNoteState).\n16. Create an acceptance certificate generation task: [/v1/fbp/act-from/create](#operation/FbpAPI_FbpCreateAct).\n17. Get the certificate and its generation status: [/v1/fbp/act-from/get](#operation/FbpAPI_FbpCheckActState).\n18. Get a list of completed supplies: [/v1/fbp/archive/list](#operation/FbpAPI_FbpArchiveList).\n19. Get details of a completed supply: [/v1/fbp/archive/get](#operation/FbpAPI_FbpArchiveGet).\n\n\n# Getting information about product returns\n\nGet information about returned products: [/v1/returns/list](#operation/returnsList).\n\n# Get return shipments by barcode\n\nCheck if you can pick up return shipments by barcode: [/v1/return/giveout/is-enabled](#operation/ReturnAPI_GiveoutIsEnabled). If you can, the `enabled` parameter will be `true`.\n\n- To receive a return shipment, get the barcode:\n   - in PDF format: [/v1/return/giveout/get-pdf](#operation/ReturnAPI_GiveoutGetPDF);\n   - in PNG format: [/v1/return/giveout/get-png](#operation/ReturnAPI_GiveoutGetPNG);\n   - in text format: [/v1/return/giveout/barcode](#operation/ReturnAPI_GiveoutGetBarcode).\n- Get a list of return shipments: [/v1/return/giveout/list](#operation/ReturnAPI_GiveoutList).\n- Get information on the selected shipment: [/v1/return/giveout/info](#operation/ReturnAPI_GiveoutInfo).\n\nYou can pick up returns apart from the product supply. If you need a pass to get to Ozon warehouse, create it using the [/v1/return/pass/create](#operation/returnPassCreate) method.\nYou need a new pass for each visit to pick up returns.\n\nTo update or delete the pass, use the [/v1/return/pass/update](#operation/returnPassUpdate) and [/v1/return/pass/delete](#operation/returnPassDelete) methods.\n\nYou can get a list of all passes using the [/v1/pass/list](#operation/PassList) method.\n\n[Learn more about issuing passes](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\n\n# Managing cancellation requests\n\nGet information about cancellation requests: [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2).\n\nMake a decision on the request:\n- Approve the request: [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2). The order will be canceled and the money will be refunded to the customer.\n- Reject the request: [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2). The order will remain in the same status and must be delivered to the customer.\n\n# Managing rFBS return requests\n\nGet information about return requests:\n- Get a list of rFBS return requests: [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2).\n- Get information about an rFBS return request: [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2).\n\nYou can approve, compensate, confirm a refund, request a product for inspection and reject a request using the [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet) method.\nTo pass the correct `action`, get the list of available actions for a particular return using the [/v2/returns/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) method.\n\n# Managing chats\n\nUse the [/v3/chat/list](#operation/ChatAPI_ChatListV3) method to get a chats list. The response will contain the  \ncurrent chats and recent messages identifiers.\n\nTo send messages by the chat identifiers, use the following methods:\n\n- To send a text message: [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage).\n\n- To send a file or an image: [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile).\n\nTo get the chat history by the chat or message identifier, use the [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3) method. The default sorting direction is from new messages to old ones.\n\nIf you specify the message identifier, the history will be shown starting with this message.\n\nTo create a new chat with the customer by shipment number, use the [/v1/chat/start](#operation/ChatAPI_ChatStart) method.\n\nTo mark a message and all messages before it as read, use the [/v2/chat/read](#operation/ChatAPI_ChatReadV2) method.\n\n# Creating and getting reports\n\nWhen requesting any of the reports, you get the document creation code first. Use it in the  \n[/v1/report/info](#operation/ReportAPI_ReportInfo) method request. You will get a report file with additional information in the response.\n\nTo get a list of reports generated earlier, use the [/v1/report/list](#operation/ReportAPI_ReportList) method.\n\nUse the following methods to get reports:\n\n- A report with the product data, for example, Ozon ID, product description, price, commission, or package \n  dimensions: [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport).\n\n- A transactions report, which is available in the seller account: [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3).\n\n- A price report: [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4).\n\n- A stock report: [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport).\n\n- A returned products report for FBS and rFBS: [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate). \n  The report contains the details on the products accepted from customers or handed over to the seller.\n\n- A shipments report: [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport).\n\n- A financial report: [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList).\n\n- A report on markdown products: [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport).\n\n# Getting analytical reports\n\n- Get analytics data: [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData).\n\n  If you specify the period and metrics to be calculated, the response will contain analytics grouped by t
[...]
